<div class="fixed bottom-0 lg:border-r top-16 left-0 p-6 lg:w-80 border-gray-200 bg-gray-100 w-full overflow-auto lg:block hidden dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 text-gray-800 <%= lockout_active ? 'mt-16' : '' %>">
    <div class="font-bold text-xl tracking-tight mb-8">Activity</div>
    <% if(logs_activity.length < 1) { %>
        <div class="flex justify-center items-center h-auto" style="height: calc(100% - 1.75rem - 2rem);">
            <div class="text-center">
                <svg class="mx-auto h-12 w-12 text-gray-400 dark:text-gray-100" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M21,10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-0.1c-2.73,2.71-2.73,7.08,0,9.79s7.15,2.71,9.88,0 C18.32,15.65,19,14.08,19,12.1h2c0,1.98-0.88,4.55-2.64,6.29c-3.51,3.48-9.21,3.48-12.72,0c-3.5-3.47-3.53-9.11-0.02-12.58 s9.14-3.47,12.65,0L21,3V10.12z M12.5,8v4.25l3.5,2.08l-0.72,1.21L11,13V8H12.5z"></path>
                </svg>
                <h3 class="mt-2 text-sm font-medium text-gray-900 dark:text-gray-100">No activity</h3>
                <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">Logs will appear here once changes have been made to the services</p>
            </div>
        </div>
    <% } %>
    <div class="grid gap-y-4">
        <% logs_activity.sort((a, b) => b.time - a.time).slice(0, 25).forEach((log) => { %>
            <div class="dark:text-gray-400 text-gray-500 text-sm gap-y-1 grid border-b border-gray-200 dark:border-gray-600 pb-4 relative">
                <h2 class="font-medium text-gray-900 pr-8 dark:text-gray-100 text-base">
                    <%= log.username %>
                </h2>
                <h3 class="text-xs mb-2 break-all">
                    <%= log.service %>
                </h3>
                <% if(log.type === 'attempt_update') { %>
                    <span class="text-red-800 dark:text-red-400">Attempt to update the service during lockout days/hours</span>
                <% } %>
                <% if(log.type === 'attempt_force_update') { %>
                    <span class="text-red-800 dark:text-red-400">Attempt to force re-deploy the service during lockout days/hours</span>
                <% } %>
                <% if(log.type === 'attempt_scale') { %>
                    <span class="text-red-800 dark:text-red-400">Attempt to scale the service during lockout days/hours</span>
                <% } %>

                <% if(log.type === 'update') { %>
                    <span>Updated the service image version from <%= log.params.old_image_version.split('@')[0] %> to <%= log.params.new_image_version.split('@')[0] %></span>
                <% } %>
                <% if(log.type === 'force_update') { %>
                    <span>Force re-deployed the service</span>
                <% } %>
                <% if(log.type === 'scale') { %>
                    <span>Scaled the service to <%= log.params.scale %> container(s)</span>
                <% } %>
                <div class="absolute top-0 right-0"><%= getTimeAgo(log.time) %></div>
            </div>
        <% }); %>
    </div>
</div>
