<header class="z-10 h-16 py-2 border-gray-200 dark:border-gray-600 border-b dark:bg-gray-800 backdrop-blur bg-white/75 fixed top-0 w-full left-0 <%= lockout_active ? 'mt-16' : '' %>">
    <div class="container flex items-center justify-between h-full px-6 mx-auto text-purple-400 dark:text-purple-400">
        <a href="/" aria-label="Homepage" title="Homepage">
            <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-200">
                <svg class="md:mr-2 w-10 h-10 align-middle inline" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <rect stroke-linejoin="round" stroke-width="1" stroke="#FFFFFF" fill="#1f2937" height="3" width="6" y="3" x="9"></rect>
                    <path stroke-linejoin="round" stroke-width="1" stroke="#FFFFFF" fill="#1f2937" d="M5 21H19L22 13L12 9L2 13L5 21Z"></path>
                    <path stroke-linejoin="round" stroke-width="1" stroke="#FFFFFF" fill="#1f2937" d="M19 6H5V11.8L12 9L19 11.8V6Z"></path>
                </svg>
                <span class="hidden md:inline-block align-middle">
                    <%= app_title %>
                </span>
            </h2>
        </a>
        <div class="flex justify-center flex-1 h-10">
            <div class="relative w-full max-w-xl mx-6 focus-within:text-purple-500">
                <div class="absolute inset-y-0 flex items-center pl-2">
                    <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                    </svg>
                </div>
                <form action="/" method="get">
                    <input class="w-full h-10 pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input" type="text" name="search" value="<%= search %>" placeholder="Search for services" aria-label="Search"/>
                </form>
            </div>
        </div>
        <ul class="flex items-center flex-shrink-0 md:space-x-6">
            <li class="hidden md:inline-block">
                <button class="relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple text-gray-700 dark:text-gray-200" aria-label="Email notifications are <%= email_smtp_host ? 'enabled' : 'disabled' %><%= email_smtp_host ? ', Receiver(s): ' + email_to : '' %>" title="Email notifications are <%= email_smtp_host ? 'enabled' : 'disabled' %><%= email_smtp_host ? ', Receiver(s): ' + email_to : '' %>">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/>
                    </svg>
                    <span aria-hidden="true" class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800 <%= email_smtp_host ? 'bg-green-600' : 'bg-red-600' %>"></span>
                </button>
            </li>
            <li class="hidden md:inline-block">
                <button class="relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple" aria-label="Slack notifications are <%= slack_webhook ? 'enabled' : 'disabled' %><%= slack_webhook ? ', Receiver: ' + slack_webhook : '' %>" title="Slack notifications are <%= slack_webhook ? 'enabled' : 'disabled' %><%= slack_webhook ? ', Receiver: ' + slack_webhook : '' %>">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127 127">
                        <path d="M27.2 80c0 7.3-5.9 13.2-13.2 13.2C6.7 93.2.8 87.3.8 80c0-7.3 5.9-13.2 13.2-13.2h13.2V80zm6.6 0c0-7.3 5.9-13.2 13.2-13.2 7.3 0 13.2 5.9 13.2 13.2v33c0 7.3-5.9 13.2-13.2 13.2-7.3 0-13.2-5.9-13.2-13.2V80z" fill="#E01E5A"/>
                        <path d="M47 27c-7.3 0-13.2-5.9-13.2-13.2C33.8 6.5 39.7.6 47 .6c7.3 0 13.2 5.9 13.2 13.2V27H47zm0 6.7c7.3 0 13.2 5.9 13.2 13.2 0 7.3-5.9 13.2-13.2 13.2H13.9C6.6 60.1.7 54.2.7 46.9c0-7.3 5.9-13.2 13.2-13.2H47z" fill="#36C5F0"/>
                        <path d="M99.9 46.9c0-7.3 5.9-13.2 13.2-13.2 7.3 0 13.2 5.9 13.2 13.2 0 7.3-5.9 13.2-13.2 13.2H99.9V46.9zm-6.6 0c0 7.3-5.9 13.2-13.2 13.2-7.3 0-13.2-5.9-13.2-13.2V13.8C66.9 6.5 72.8.6 80.1.6c7.3 0 13.2 5.9 13.2 13.2v33.1z" fill="#2EB67D"/>
                        <path d="M80.1 99.8c7.3 0 13.2 5.9 13.2 13.2 0 7.3-5.9 13.2-13.2 13.2-7.3 0-13.2-5.9-13.2-13.2V99.8h13.2zm0-6.6c-7.3 0-13.2-5.9-13.2-13.2 0-7.3 5.9-13.2 13.2-13.2h33.1c7.3 0 13.2 5.9 13.2 13.2 0 7.3-5.9 13.2-13.2 13.2H80.1z" fill="#ECB22E"/>
                    </svg>
                    <span aria-hidden="true" class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 border-2 border-white rounded-full dark:border-gray-800 <%= slack_webhook ? 'bg-green-600' : 'bg-red-600' %>"></span>
                </button>
            </li>
            <% if(username) { %>
                <li>
                    <div class="align-middle rounded-full">
                        <button class="relative align-middle" aria-label="Profile Picture: <%= username %>" title="Profile Picture: <%= username %>">
                            <img class="object-cover w-10 h-10 rounded-full" src="https://www.gravatar.com/avatar/<%= username_md5 %>" alt="Profile Picture"/>
                        </button>
                    </div>
                </li>
            <% } else { %>
                <li>
                    <div class="align-middle rounded-full">
                        <button class="relative align-middle" aria-label="Profile Picture: Anonymous" title="Profile Picture: Anonymous">
                            <img class="object-cover w-10 h-10 rounded-full" src="/images/anonymous-profile.jpg" alt="Profile Picture"/>
                        </button>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</header>
