<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= page_title %> | <%= app_title %></title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <meta name="description" content="A docker swarm service updater/deployment manager">
        <link rel="shortcut icon" href="/images/favicon.svg">

        <link rel="preload" href="/dist/style.css" as="style">
        <link href="/dist/style.css" rel="stylesheet">
    </head>
    <body class="bg-gray-50 dark:bg-gray-900 <%= !allow_overflow ? 'overflow-hidden' : '' %>">
        <% if(lockout_active) { %>
            <%- include('partials/lockout_banner') %>
        <% } %>
        <%- include('partials/header') %>
        <%- include('partials/activity') %>

        <main class="h-full overflow-y-auto mb-12 mt-8 pt-16 lg:pl-80 <%= lockout_active ? 'mt-24' : '' %>">
            <div class="flex flex-col flex-1 w-full gap-10">
                <div class="container px-6 mx-auto grid gap-10">
                    <%- include('partials/stats') %>

                    <% if(error) { %>
                        <div class="bg-red-600 text-white p-3 rounded shadow-lg flex items-center">
                            <div>
                                <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div><%= error_text %></div>
                        </div>
                    <% } %>

                    <% if(info) { %>
                        <div class="bg-blue-500 text-white p-3 rounded shadow-lg flex items-center">
                            <div>
                                <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div><%= info_text %></div>
                        </div>
                    <% } %>

                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-x-auto">
                            <div class="border-b border-gray-200 dark:border-gray-600 mb-4">
                                <nav class="-mb-px flex space-x-8">
                                    <a href="/" aria-label="Service Overview" title="Service Overview" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-200 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm">
                                        <svg class="text-gray-400 group-hover:text-gray-500 dark:text-gray-300 dark:group-hover:text-gray-100 sm:-ml-0.5 sm:mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path d="M14.17,13.71l1.4-2.42c0.09-0.15,0.05-0.34-0.08-0.45l-1.48-1.16c0.03-0.22,0.05-0.45,0.05-0.68s-0.02-0.46-0.05-0.69 l1.48-1.16c0.13-0.11,0.17-0.3,0.08-0.45l-1.4-2.42c-0.09-0.15-0.27-0.21-0.43-0.15L12,4.83c-0.36-0.28-0.75-0.51-1.18-0.69 l-0.26-1.85C10.53,2.13,10.38,2,10.21,2h-2.8C7.24,2,7.09,2.13,7.06,2.3L6.8,4.15C6.38,4.33,5.98,4.56,5.62,4.84l-1.74-0.7 c-0.16-0.06-0.34,0-0.43,0.15l-1.4,2.42C1.96,6.86,2,7.05,2.13,7.16l1.48,1.16C3.58,8.54,3.56,8.77,3.56,9s0.02,0.46,0.05,0.69 l-1.48,1.16C2,10.96,1.96,11.15,2.05,11.3l1.4,2.42c0.09,0.15,0.27,0.21,0.43,0.15l1.74-0.7c0.36,0.28,0.75,0.51,1.18,0.69 l0.26,1.85C7.09,15.87,7.24,16,7.41,16h2.8c0.17,0,0.32-0.13,0.35-0.3l0.26-1.85c0.42-0.18,0.82-0.41,1.18-0.69l1.74,0.7 C13.9,13.92,14.08,13.86,14.17,13.71z M8.81,11c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C10.81,10.1,9.91,11,8.81,11z"/>
                                            <path d="M21.92,18.67l-0.96-0.74c0.02-0.14,0.04-0.29,0.04-0.44c0-0.15-0.01-0.3-0.04-0.44l0.95-0.74 c0.08-0.07,0.11-0.19,0.05-0.29l-0.9-1.55c-0.05-0.1-0.17-0.13-0.28-0.1l-1.11,0.45c-0.23-0.18-0.48-0.33-0.76-0.44l-0.17-1.18 C18.73,13.08,18.63,13,18.53,13h-1.79c-0.11,0-0.21,0.08-0.22,0.19l-0.17,1.18c-0.27,0.12-0.53,0.26-0.76,0.44l-1.11-0.45 c-0.1-0.04-0.22,0-0.28,0.1l-0.9,1.55c-0.05,0.1-0.04,0.22,0.05,0.29l0.95,0.74c-0.02,0.14-0.03,0.29-0.03,0.44 c0,0.15,0.01,0.3,0.03,0.44l-0.95,0.74c-0.08,0.07-0.11,0.19-0.05,0.29l0.9,1.55c0.05,0.1,0.17,0.13,0.28,0.1l1.11-0.45 c0.23,0.18,0.48,0.33,0.76,0.44l0.17,1.18c0.02,0.11,0.11,0.19,0.22,0.19h1.79c0.11,0,0.21-0.08,0.22-0.19l0.17-1.18 c0.27-0.12,0.53-0.26,0.75-0.44l1.12,0.45c0.1,0.04,0.22,0,0.28-0.1l0.9-1.55C22.03,18.86,22,18.74,21.92,18.67z M17.63,18.83 c-0.74,0-1.35-0.6-1.35-1.35s0.6-1.35,1.35-1.35s1.35,0.6,1.35,1.35S18.37,18.83,17.63,18.83z"/>
                                        </svg>
                                        <span class="hidden sm:block">Services</span>
                                    </a>

                                    <a href="/nodes" aria-label="Nodes Overview" title="Nodes Overview" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-200 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm">
                                        <svg class="text-gray-400 group-hover:text-gray-500 dark:text-gray-300 dark:group-hover:text-gray-100 sm:-ml-0.5 sm:mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                            <path d="M13 7H7v6h6V7z" />
                                            <path fill-rule="evenodd" d="M7 2a1 1 0 012 0v1h2V2a1 1 0 112 0v1h2a2 2 0 012 2v2h1a1 1 0 110 2h-1v2h1a1 1 0 110 2h-1v2a2 2 0 01-2 2h-2v1a1 1 0 11-2 0v-1H9v1a1 1 0 11-2 0v-1H5a2 2 0 01-2-2v-2H2a1 1 0 110-2h1V9H2a1 1 0 010-2h1V5a2 2 0 012-2h2V2zM5 5h10v10H5V5z" clip-rule="evenodd" />
                                        </svg>
                                        <span class="hidden sm:block">Nodes</span>
                                    </a>

                                    <a href="/allocation" aria-label="Allocation Overview" title="Allocation Overview" class="border-purple-500 text-purple-600 dark:border-purple-400 dark:text-purple-400 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm">
                                        <svg class="text-purple-500 dark:text-purple-400 sm:-ml-0.5 sm:mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path d="M13 13v8h8v-8h-8zM3 21h8v-8H3v8zM3 3v8h8V3H3zm13.66-1.31L11 7.34 16.66 13l5.66-5.66-5.66-5.65z"/>
                                        </svg>
                                        <span class="hidden sm:block">Allocation</span>
                                    </a>

                                    <a href="/usage" aria-label="Usage Overview" title="Usage Overview" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-200 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm">
                                        <svg class="text-gray-400 group-hover:text-gray-500 dark:text-gray-300 dark:group-hover:text-gray-100 sm:-ml-0.5 sm:mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="currentColor">
                                            <path d="M42.15 32.55 37.75 30.1Q38.35 28.55 38.65 27.025Q38.95 25.5 38.95 24Q38.95 18.2 35.125 13.95Q31.3 9.7 25.6 9.2V4.1Q33.45 4.65 38.75 10.325Q44.05 16 44.05 23.8Q44.05 26.05 43.575 28.225Q43.1 30.4 42.15 32.55ZM24.05 44Q19.95 44 16.3 42.425Q12.65 40.85 9.925 38.15Q7.2 35.45 5.625 31.8Q4.05 28.15 4.05 24.05Q4.05 16.15 9.375 10.45Q14.7 4.75 22.6 4.15V9.25Q16.85 9.8 13 14.025Q9.15 18.25 9.15 24.05Q9.15 30.25 13.5 34.575Q17.85 38.9 24.05 38.9Q27.65 38.9 30.85 37.275Q34.05 35.65 36.3 32.7L40.7 35.25Q37.8 39.4 33.425 41.7Q29.05 44 24.05 44Z"/>
                                        </svg>
                                        <span class="hidden sm:block">Usage</span>
                                    </a>
                                </nav>
                            </div>
                            <div class="px-4 grid gap-10">
                                <% docker_extended_nodes.forEach((node) => { %>
                                    <div>
                                        <div class="pb-5 mb-4 border-b border-gray-200 dark:border-gray-600">
                                            <div class="sm:flex sm:justify-between sm:items-baseline">
                                                <div class="sm:w-0 sm:flex-1">
                                                    <h1 class="text-lg font-medium text-purple-600 dark:text-purple-400"><%= node.Description.Hostname %></h1>
                                                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-400 truncate"><%= node.ID %></p>
                                                </div>

                                                <div class="hidden sm:block mt-4 flex items-center self-center justify-between mt-0 ml-6 flex-shrink-0 justify-start">
                                                    <div class="text-left text-gray-500 dark:text-gray-400">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md:px-6">
                                            <ul class="grid md:grid-cols-2 gap-4">
                                                <% node.__tasks.forEach((task) => { %>
                                                    <li class="bg-white dark:bg-gray-800 overflow-hidden sm:rounded-md">
                                                        <div class="px-4 py-4 flex items-center sm:px-6">
                                                            <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                                                                <div>
                                                                    <div>
                                                                        <p class="text-xs font-medium text-purple-600 dark:text-purple-400"><%= task.__service_name %></p>
                                                                        <p class="text-xs font-normal italic text-gray-500 dark:text-gray-400"><%= task.ID %></p>
                                                                    </div>
                                                                    <div class="mt-4 sm:flex sm:justify-between">
                                                                        <div class="sm:flex">
                                                                            <% if(task.Spec.Resources.Limits) { %>
                                                                                <p class="flex items-center text-sm text-gray-500 dark:text-gray-400">
                                                                                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 20 20">
                                                                                        <path d="M13 7H7v6h6V7z" />
                                                                                        <path fill-rule="evenodd" d="M7 2a1 1 0 012 0v1h2V2a1 1 0 112 0v1h2a2 2 0 012 2v2h1a1 1 0 110 2h-1v2h1a1 1 0 110 2h-1v2a2 2 0 01-2 2h-2v1a1 1 0 11-2 0v-1H9v1a1 1 0 11-2 0v-1H5a2 2 0 01-2-2v-2H2a1 1 0 110-2h1V9H2a1 1 0 010-2h1V5a2 2 0 012-2h2V2zM5 5h10v10H5V5z" clip-rule="evenodd" />
                                                                                    </svg>
                                                                                    <%= (task.Spec.Resources.Limits.NanoCPUs ? task.Spec.Resources.Limits.NanoCPUs * 0.000000001 : '∞') %> Core(s)
                                                                                </p>
                                                                                <p class="mt-2 flex items-center text-sm text-gray-500 dark:text-gray-400 sm:mt-0 sm:ml-6">
                                                                                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 16 16">
                                                                                        <path d="M1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.586a1 1 0 0 0 .707-.293l.353-.353a.5.5 0 0 1 .708 0l.353.353a1 1 0 0 0 .707.293H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1Zm.5 1h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm5 0h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm4.5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4ZM2 10v2H1v-2h1Zm2 0v2H3v-2h1Zm2 0v2H5v-2h1Zm3 0v2H8v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Z"/>
                                                                                    </svg>
                                                                                    <%= task.Spec.Resources.Limits.MemoryBytes ? getBytes(task.Spec.Resources.Limits.MemoryBytes) : '∞' %>
                                                                                </p>
                                                                            <% } else { %>
                                                                                <p class="flex items-center text-sm text-gray-500 dark:text-gray-400">
                                                                                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 20 20">
                                                                                        <path d="M13 7H7v6h6V7z" />
                                                                                        <path fill-rule="evenodd" d="M7 2a1 1 0 012 0v1h2V2a1 1 0 112 0v1h2a2 2 0 012 2v2h1a1 1 0 110 2h-1v2h1a1 1 0 110 2h-1v2a2 2 0 01-2 2h-2v1a1 1 0 11-2 0v-1H9v1a1 1 0 11-2 0v-1H5a2 2 0 01-2-2v-2H2a1 1 0 110-2h1V9H2a1 1 0 010-2h1V5a2 2 0 012-2h2V2zM5 5h10v10H5V5z" clip-rule="evenodd" />
                                                                                    </svg>
                                                                                    ∞ Core(s)
                                                                                </p>
                                                                                <p class="mt-2 flex items-center text-sm text-gray-500 dark:text-gray-400 sm:mt-0 sm:ml-6">
                                                                                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 16 16">
                                                                                        <path d="M1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.586a1 1 0 0 0 .707-.293l.353-.353a.5.5 0 0 1 .708 0l.353.353a1 1 0 0 0 .707.293H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1Zm.5 1h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm5 0h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm4.5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4ZM2 10v2H1v-2h1Zm2 0v2H3v-2h1Zm2 0v2H5v-2h1Zm3 0v2H8v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Z"/>
                                                                                    </svg>
                                                                                    ∞ Bytes
                                                                                </p>
                                                                            <% } %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                    <footer class="flex-shrink-0 max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
                        <nav class="flex justify-center space-x-4 mb-2">
                            <a href="https://github.com/glenndehaan/ship" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">GitHub</a>
                            <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
                            <a href="https://github.com/glenndehaan/ship/issues" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">Issues</a>
                            <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
                            <a href="https://github.com/glenndehaan/ship/blob/master/README.md" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">Documentation</a>
                        </nav>
                        <div class="flex justify-center text-xs italic mb-1">Host: <%= hostname %> - Mode: <%= use_kubernetes ? 'Kubernetes' : 'Docker Swarm' %></div>
                        <div class="flex justify-center text-xs italic mb-4">By:&nbsp;<a href="https://github.com/glenndehaan" target="_blank" rel="noopener noreferrer" class="font-medium hover:text-gray-400">Glenn de Haan</a></div>
                        <div class="flex justify-center text-xs italic">
                            <a href="https://ko-fi.com/J3J1F5WD2" target="_blank" rel="noopener noreferrer">
                                <img height="36" style="border:0; height:36px;" src="/images/kofi1.png" alt="Buy Me a Coffee at ko-fi.com" />
                            </a>
                        </div>
                    </footer>
                </div>
            </div>
        </main>
        <% if(debug_docker) { %>
            <script>
                window.__ship_docker_nodes = <%- JSON.stringify(docker_nodes) %>;
                window.__ship_docker_services = <%- JSON.stringify(docker_services) %>;
                window.__ship_docker_tasks = <%- JSON.stringify(docker_tasks) %>;
                window.__ship_agent = <%- JSON.stringify(agent_data) %>;
            </script>
        <% } %>
        <script>
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.querySelector('html').setAttribute('style', 'color-scheme: dark;');
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
                const newColorScheme = event.matches ? "dark" : "light";

                if(newColorScheme === 'light') {
                    document.querySelector('html').removeAttribute('style');
                } else {
                    document.querySelector('html').setAttribute('style', 'color-scheme: dark;');
                }
            });
        </script>
        <script>
            const params = new URLSearchParams(window.location.search);

            if(params.has('error') || params.has('message')) {
                window.history.replaceState({}, '', window.location.pathname);
            }
        </script>
    </body>
</html>
