<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= page_title %> | <%= app_title %></title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <meta name="description" content="A docker swarm service updater/deployment manager">
        <link rel="shortcut icon" href="/images/favicon.svg">

        <link rel="preload" href="/dist/style.css" as="style">
        <link href="/dist/style.css" rel="stylesheet">
    </head>
    <body class="bg-gray-50 dark:bg-gray-900 <%= !allow_overflow ? 'overflow-hidden' : '' %>">
        <% if(lockout_active) { %>
            <%- include('partials/lockout_banner') %>
        <% } %>
        <%- include('partials/header') %>
        <%- include('partials/activity') %>

        <main class="h-full overflow-y-auto mb-12 mt-8 pt-16 lg:pl-80 <%= lockout_active ? 'mt-24' : '' %>">
            <div class="flex flex-col flex-1 w-full gap-10">
                <div class="container px-6 mx-auto grid gap-10">
                    <%- include('partials/stats') %>

                    <% if(error) { %>
                        <div class="bg-red-600 text-white p-3 rounded shadow-lg flex items-center">
                            <div>
                                <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div><%= error_text %></div>
                        </div>
                    <% } %>

                    <% if(info) { %>
                        <div class="bg-blue-500 text-white p-3 rounded shadow-lg flex items-center">
                            <div>
                                <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div><%= info_text %></div>
                        </div>
                    <% } %>

                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-x-auto">
                            <div class="bg-white dark:bg-gray-800 shadow overflow-hidden sm:rounded-md">
                                <ul class="divide-y divide-gray-200 dark:divide-gray-600">
                                    <% docker_services.forEach((service) => { %>
                                        <li>
                                            <a href="/service/<%= service.Spec.Name %>" class="block hover:bg-gray-100 dark:hover:bg-gray-700">
                                                <div class="px-4 py-4 flex items-center sm:px-6">
                                                    <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                                                        <div class="truncate">
                                                            <div class="flex">
                                                                <p class="font-medium text-purple-600 dark:text-purple-400 truncate"><%= service.Spec.Name %></p>
                                                            </div>
                                                            <div class="mt-2 sm:flex sm:justify-between">
                                                                <div class="sm:flex">
                                                                    <p class="flex items-center text-sm text-gray-500 dark:text-gray-400">
                                                                        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                                                            <path d="M21,10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-0.1c-2.73,2.71-2.73,7.08,0,9.79s7.15,2.71,9.88,0 C18.32,15.65,19,14.08,19,12.1h2c0,1.98-0.88,4.55-2.64,6.29c-3.51,3.48-9.21,3.48-12.72,0c-3.5-3.47-3.53-9.11-0.02-12.58 s9.14-3.47,12.65,0L21,3V10.12z M12.5,8v4.25l3.5,2.08l-0.72,1.21L11,13V8H12.5z"/>
                                                                        </svg>
                                                                        <%= new Date(service.UpdatedAt).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                                    </p>
                                                                    <p class="mt-2 flex items-center text-sm text-gray-500 dark:text-gray-400 sm:mt-0 sm:ml-6">
                                                                        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                                                            <path d="M2 20h20v-4H2v4zm2-3h2v2H4v-2zM2 4v4h20V4H2zm4 3H4V5h2v2zm-4 7h20v-4H2v4zm2-3h2v2H4v-2z"/>
                                                                        </svg>
                                                                        <span class="truncate"><%= service.Spec.TaskTemplate.ContainerSpec.Image.replace(/^.*\//, '').split('@')[0] %></span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mt-4 flex-shrink-0 sm:mt-0 sm:ml-5">
                                                            <span class="whitespace-nowrap px-2 py-1 text-sm font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= service.ServiceStatus.RunningTasks === service.ServiceStatus.DesiredTasks && 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' %> <%= service.ServiceStatus.RunningTasks !== service.ServiceStatus.DesiredTasks && 'text-red-800 bg-red-200 dark:text-red-50 dark:bg-red-700' %>">
                                                                <%= service.ServiceStatus.RunningTasks %> / <%= service.ServiceStatus.DesiredTasks %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="ml-5 flex-shrink-0">
                                                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <footer class="flex-shrink-0 max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
                        <nav class="flex justify-center space-x-4 mb-2">
                            <a href="https://github.com/glenndehaan/ship" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">GitHub</a>
                            <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
                            <a href="https://github.com/glenndehaan/ship/issues" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">Issues</a>
                            <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
                            <a href="https://github.com/glenndehaan/ship/blob/master/README.md" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">Documentation</a>
                        </nav>
                        <div class="flex justify-center text-xs italic">Host: <%= hostname %></div>
                    </footer>
                </div>
            </div>
        </main>
        <% if(debug_docker) { %>
            <script>
                window.__ship_docker_services = <%- JSON.stringify(docker_services) %>;
                window.__ship_docker_tasks = <%- JSON.stringify(docker_tasks) %>;
            </script>
        <% } %>
        <script>
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.querySelector('html').setAttribute('style', 'color-scheme: dark;');
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
                const newColorScheme = event.matches ? "dark" : "light";

                if(newColorScheme === 'light') {
                    document.querySelector('html').removeAttribute('style');
                } else {
                    document.querySelector('html').setAttribute('style', 'color-scheme: dark;');
                }
            });
        </script>
        <script>
            const params = new URLSearchParams(window.location.search);

            if(params.has('error') || params.has('message')) {
                window.history.replaceState({}, '', window.location.pathname);
            }
        </script>
    </body>
</html>
