<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= app_title %></title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <meta name="description" content="A docker swarm service updater/deployment manager">
        <link rel="shortcut icon" href="/images/favicon.ico">

        <link rel="preload" href="/dist/style.css" as="style">
        <link href="/dist/style.css" rel="stylesheet">
    </head>
    <body class="bg-gray-50 dark:bg-gray-900">
        <main class="h-full overflow-y-auto mb-12">
            <% if(edit) { %>
                <div class="fixed inset-0 z-30 flex items-end bg-black bg-opacity-75 sm:items-center sm:justify-center">
                    <div class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl" role="dialog" id="modal">
                        <form action="/update" method="post" enctype="multipart/form-data">
                            <div class="mt-1 mb-5">
                                <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
                                    Edit Service: <%= edit_service_name %>
                                </p>
                                <p class="text-sm text-gray-700 dark:text-gray-400">
                                    <span>
                                        Use the wizard below to update an existing service. After applying your changes Docker Swarm will gradually spawn new container to replace the old ones.
                                    </span>
                                    <label class="block mt-4 text-sm">
                                        <span class="text-gray-700 dark:text-gray-400">
                                            Service
                                        </span>
                                        <input name="service_name" type="text" autocomplete="off" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:border-gray-600 dark:text-white read-only:bg-gray-50 dark:read-only:bg-transparent" value="<%= edit_service_name %>" readonly="readonly" />
                                    </label>
                                    <label class="block mt-4 text-sm">
                                        <span class="text-gray-700 dark:text-gray-400">
                                            Image
                                        </span>
                                        <input name="service_image" type="text" autocomplete="off" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:border-gray-600 dark:text-white read-only:bg-gray-50 dark:read-only:bg-transparent" value="<%= edit_service.Spec.TaskTemplate.ContainerSpec.Image.split(':')[0] %>" readonly="readonly" />
                                    </label>
                                    <label class="block mt-4 text-sm">
                                        <span class="text-gray-700 dark:text-gray-400">
                                            Current Image Version
                                        </span>
                                        <input name="service_old_image_version" type="text" autocomplete="off" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:border-gray-600 dark:text-white read-only:bg-gray-50 dark:read-only:bg-transparent" value="<%= edit_service.Spec.TaskTemplate.ContainerSpec.Image.replace(/[^:]*:/, '') %>" readonly="readonly" />
                                    </label>
                                    <label class="block mt-4 text-sm">
                                        <span class="text-gray-700 dark:text-gray-400">
                                            New Image Version
                                        </span>
                                        <div class="relative inline-block w-full">
                                            <select name="service_new_image_version" class="shadow appearance-none border rounded w-full py-2 px-3 pr-7 text-gray-700 mt-1 bg-white leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                                                <% edit_service_image_tags.forEach((tag) => { %>
                                                    <option value="<%= tag %>"><%= tag %></option>
                                                <% }); %>
                                            </select>
                                            <div class="text-gray-700 dark:text-gray-400 absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                    <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clipRule="evenodd" fillRule="evenodd"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </label>
                                </p>
                            </div>
                            <footer class="flex flex-col items-center justify-end px-6 py-3 -mx-8 -mb-4 space-y-4 sm:space-y-0 sm:space-x-4 sm:flex-row bg-gray-100 dark:bg-gray-800">
                                <a href="/" class="text-center w-full px-5 py-3 text-sm font-medium leading-5 text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
                                    Cancel
                                </a>
                                <button class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                    Update Service
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            <% } %>

            <% if(logs) { %>
                <div class="fixed inset-0 z-30 flex items-end bg-black bg-opacity-75 sm:items-center sm:justify-center">
                    <div class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4" role="dialog" id="modal">
                        <div class="mt-1 mb-5">
                            <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
                                Container logs: <%= logs_container.Names.map((name) => name.replace('/', '')).join(', ') %> <span class="text-sm">(ID: <%= logs_container.Id %>)</span>
                            </p>
                            <p class="text-sm text-gray-700 dark:text-gray-400">
                                <span>
                                    Last 250 logged lines from inside the container:
                                </span>
                                <pre class="w-full mt-4 overflow-auto text-gray-700 bg-gray-100 dark:text-gray-300 dark:bg-black dark:bg-opacity-50" style="height: 450px;"><%= logs_container_logs %></pre>
                            </p>
                        </div>
                        <footer class="flex flex-col items-center justify-end px-6 py-3 -mx-8 -mb-4 space-y-4 sm:space-y-0 sm:space-x-4 sm:flex-row bg-gray-100 dark:bg-gray-800">
                            <a href="/" class="text-center w-full px-5 py-3 text-sm font-medium leading-5 text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
                                Close
                            </a>
                            <a href="/logs/<%= logs_container.Id %>" class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                Refresh
                            </a>
                        </footer>
                    </div>
                </div>
            <% } %>

            <div class="container px-6 mx-auto grid">
                <a href="/" style="width: 120px;" aria-label="Homepage" title="Homepage">
                    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        <svg class="mr-2 w-14 h-14 align-middle inline" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M20 8h-3V4H3c-1.1 0-2 .9-2 2v11h2c0 1.66 1.34 3 3 3s3-1.34 3-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3h2v-5l-3-4zM6 18.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm13.5-9l1.96 2.5H17V9.5h2.5zm-1.5 9c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
                        </svg>
                        <span>
                            <%= app_title %>
                        </span>
                    </h2>
                </a>
                <div class="grid gap-6 mb-8 md:grid-cols-3">
                    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <div class="p-2 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
                            <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M14.17,13.71l1.4-2.42c0.09-0.15,0.05-0.34-0.08-0.45l-1.48-1.16c0.03-0.22,0.05-0.45,0.05-0.68s-0.02-0.46-0.05-0.69 l1.48-1.16c0.13-0.11,0.17-0.3,0.08-0.45l-1.4-2.42c-0.09-0.15-0.27-0.21-0.43-0.15L12,4.83c-0.36-0.28-0.75-0.51-1.18-0.69 l-0.26-1.85C10.53,2.13,10.38,2,10.21,2h-2.8C7.24,2,7.09,2.13,7.06,2.3L6.8,4.15C6.38,4.33,5.98,4.56,5.62,4.84l-1.74-0.7 c-0.16-0.06-0.34,0-0.43,0.15l-1.4,2.42C1.96,6.86,2,7.05,2.13,7.16l1.48,1.16C3.58,8.54,3.56,8.77,3.56,9s0.02,0.46,0.05,0.69 l-1.48,1.16C2,10.96,1.96,11.15,2.05,11.3l1.4,2.42c0.09,0.15,0.27,0.21,0.43,0.15l1.74-0.7c0.36,0.28,0.75,0.51,1.18,0.69 l0.26,1.85C7.09,15.87,7.24,16,7.41,16h2.8c0.17,0,0.32-0.13,0.35-0.3l0.26-1.85c0.42-0.18,0.82-0.41,1.18-0.69l1.74,0.7 C13.9,13.92,14.08,13.86,14.17,13.71z M8.81,11c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C10.81,10.1,9.91,11,8.81,11z"/>
                                <path d="M21.92,18.67l-0.96-0.74c0.02-0.14,0.04-0.29,0.04-0.44c0-0.15-0.01-0.3-0.04-0.44l0.95-0.74 c0.08-0.07,0.11-0.19,0.05-0.29l-0.9-1.55c-0.05-0.1-0.17-0.13-0.28-0.1l-1.11,0.45c-0.23-0.18-0.48-0.33-0.76-0.44l-0.17-1.18 C18.73,13.08,18.63,13,18.53,13h-1.79c-0.11,0-0.21,0.08-0.22,0.19l-0.17,1.18c-0.27,0.12-0.53,0.26-0.76,0.44l-1.11-0.45 c-0.1-0.04-0.22,0-0.28,0.1l-0.9,1.55c-0.05,0.1-0.04,0.22,0.05,0.29l0.95,0.74c-0.02,0.14-0.03,0.29-0.03,0.44 c0,0.15,0.01,0.3,0.03,0.44l-0.95,0.74c-0.08,0.07-0.11,0.19-0.05,0.29l0.9,1.55c0.05,0.1,0.17,0.13,0.28,0.1l1.11-0.45 c0.23,0.18,0.48,0.33,0.76,0.44l0.17,1.18c0.02,0.11,0.11,0.19,0.22,0.19h1.79c0.11,0,0.21-0.08,0.22-0.19l0.17-1.18 c0.27-0.12,0.53-0.26,0.75-0.44l1.12,0.45c0.1,0.04,0.22,0,0.28-0.1l0.9-1.55C22.03,18.86,22,18.74,21.92,18.67z M17.63,18.83 c-0.74,0-1.35-0.6-1.35-1.35s0.6-1.35,1.35-1.35s1.35,0.6,1.35,1.35S18.37,18.83,17.63,18.83z"/>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                Total services
                            </p>
                            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                                <%= docker_services.length %>
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <div class="p-2 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
                            <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M3,14h4v-4H3V14z M3,19h4v-4H3V19z M3,9h4V5H3V9z M8,14h13v-4H8V14z M8,19h13v-4H8V19z M8,5v4h13V5H8z"/>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                Total containers/tasks
                            </p>
                            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                                <%= docker_tasks.length %>
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <div class="p-2 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
                            <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M21,10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-0.1c-2.73,2.71-2.73,7.08,0,9.79s7.15,2.71,9.88,0 C18.32,15.65,19,14.08,19,12.1h2c0,1.98-0.88,4.55-2.64,6.29c-3.51,3.48-9.21,3.48-12.72,0c-3.5-3.47-3.53-9.11-0.02-12.58 s9.14-3.47,12.65,0L21,3V10.12z M12.5,8v4.25l3.5,2.08l-0.72,1.21L11,13V8H12.5z"/>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                Last update
                            </p>
                            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                                <%= new Date().toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                            </p>
                        </div>
                    </div>
                </div>

                <% if(info) { %>
                    <div class="bg-blue-500 text-white p-3 mb-8 rounded shadow-lg flex items-center">
                        <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                        </svg>
                        <div><%= info_text %></div>
                    </div>
                <% } %>

                <div class="w-full overflow-hidden rounded-lg shadow-xs mb-8">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full whitespace-no-wrap">
                            <thead>
                                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-300 dark:bg-gray-700">
                                    <th class="px-4 py-3">Service Name</th>
                                    <th class="px-4 py-3">Status</th>
                                    <th class="px-4 py-3">Image</th>
                                    <th class="px-4 py-3">Created</th>
                                    <th class="px-4 py-3">Updated</th>
                                    <th class="px-4 py-3">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                <% docker_services.forEach((service) => { %>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-4 py-3">
                                            <%= service.Spec.Name %>
                                        </td>
                                        <td class="px-4 py-3 text-xs">
                                            <span class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= service.ServiceStatus.RunningTasks === service.ServiceStatus.DesiredTasks && 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' %> <%= service.ServiceStatus.RunningTasks !== service.ServiceStatus.DesiredTasks && 'text-red-800 bg-red-200 dark:text-red-50 dark:bg-red-700' %>">
                                                <%= service.ServiceStatus.RunningTasks %> / <%= service.ServiceStatus.DesiredTasks %>
                                            </span>
                                        </td>
                                        <td class="px-4 py-3 text-xs">
                                            <%= service.Spec.TaskTemplate.ContainerSpec.Image.split('@')[0] %>
                                        </td>
                                        <td class="px-4 py-3 text-xs">
                                            <%= new Date(service.CreatedAt).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                        </td>
                                        <td class="px-4 py-3 text-xs">
                                            <%= new Date(service.UpdatedAt).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                        </td>
                                        <td class="px-4 py-3 text-sm flex space-x-4">
                                            <a href="/update/<%= service.Spec.Name %>" aria-label="Update the <%= service.Spec.Name %> service" title="Update the <%= service.Spec.Name %> service">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" class="fill-orange-400 hover:fill-orange-300">
                                                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                                </svg>
                                            </a>
                                            <a href="/logs/services/<%= service.Spec.Name %>" aria-label="View the <%= service.Spec.Name %> logs" title="View the <%= service.Spec.Name %> logs">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" class="fill-purple-400 hover:fill-purple-300">
                                                    <path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-12 py-4" colspan="6">
                                            <div class="border dark:border-gray-700 rounded-sm">
                                                <table class="w-full whitespace-no-wrap">
                                                    <thead>
                                                        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-300 dark:bg-gray-700">
                                                            <th class="px-4 py-3">Status</th>
                                                            <th class="px-4 py-3">ID</th>
                                                            <th class="px-4 py-3">Image</th>
                                                            <th class="px-4 py-3">Slot</th>
                                                            <th class="px-4 py-3">Created</th>
                                                            <th class="px-4 py-3">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                                        <% service.__tasks.forEach((task) => { %>
                                                            <tr class="text-gray-700 dark:text-gray-400">
                                                                <td class="px-4 py-3 text-xs">
                                                                    <span class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= (task.Status.State === 'running' || task.Status.State === 'complete') && 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' %> <%= (task.Status.State === 'new' || task.Status.State === 'allocated' || task.Status.State === 'pending' || task.Status.State === 'assigned' || task.Status.State === 'accepted' || task.Status.State === 'preparing' || task.Status.State === 'ready' || task.Status.State === 'starting') && 'text-blue-800 bg-blue-200 dark:text-blue-50 dark:bg-blue-600' %> <%= (task.Status.State === 'shutdown' || task.Status.State === 'failed' || task.Status.State === 'rejected' || task.Status.State === 'remove' || task.Status.State === 'orphaned') && 'text-red-800 bg-red-200 dark:text-red-50 dark:bg-red-700' %>">
                                                                        <%= task.Status.State %>
                                                                    </span>
                                                                </td>
                                                                <td class="px-4 py-3 text-xs">
                                                                    <%= task.ID %>
                                                                </td>
                                                                <td class="px-4 py-3 text-xs">
                                                                    <%= task.Spec.ContainerSpec.Image.split('@')[0] %>
                                                                </td>
                                                                <td class="px-4 py-3 text-xs">
                                                                    <%= task.Slot %>
                                                                </td>
                                                                <td class="px-4 py-3 text-xs">
                                                                    <%= new Date(task.CreatedAt).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                                </td>
                                                                <td class="px-4 py-3 text-sm flex space-x-4">
                                                                    <% if(typeof task.Status.ContainerStatus !== "undefined") { %>
                                                                        <a href="/logs/tasks/<%= task.ID %>" aria-label="View the <%= task.ID %> logs" title="View the <%= task.ID %> logs">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" class="fill-purple-400 hover:fill-purple-300">
                                                                                <path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z"/>
                                                                            </svg>
                                                                        </a>
                                                                    <% } %>
                                                                </td>
                                                            </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="text-xs italic text-gray-700 dark:text-gray-400">
                    Host: <%= hostname %>, <a href="https://github.com/glenndehaan/ship" title="Ship GitHub Page" aria-label="Ship GitHub Page" target="_blank" rel="noopener noreferrer">GitHub / Issues</a><br/>Created by: <a href="https://glenndehaan.com" title="Glenn de Haan's Website" aria-label="Glenn de Haan's Website" target="_blank" rel="noopener noreferrer">Glenn de Haan</a>
                </footer>
            </div>
        </main>
        <% if(debug_docker) { %>
            <script>
                window.__ship_docker_services = <%- JSON.stringify(docker_services) %>;
                window.__ship_docker_tasks = <%- JSON.stringify(docker_tasks) %>;
            </script>
        <% } %>
    </body>
</html>
