<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= page_title %> | <%= app_title %></title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <meta name="description" content="A docker swarm service updater/deployment manager">
        <link rel="shortcut icon" href="/images/favicon.svg">

        <link rel="preload" href="/dist/style.css" as="style">
        <link href="/dist/style.css" rel="stylesheet">
    </head>
    <body class="bg-gray-50 dark:bg-gray-900 <%= !allow_overflow ? 'overflow-hidden' : '' %>">
        <% if(lockout_active) { %>
            <%- include('partials/lockout_banner') %>
        <% } %>
        <%- include('partials/header') %>
        <%- include('partials/activity') %>

        <main class="h-full overflow-y-auto mb-12 mt-8 pt-16 lg:pl-80 <%= lockout_active ? 'mt-24' : '' %>">
            <% if(edit) { %>
                <%- include('partials/edit') %>
            <% } %>

            <% if(force_update) { %>
                <%- include('partials/force_update') %>
            <% } %>

            <% if(scale) { %>
                <%- include('partials/scale') %>
            <% } %>

            <% if(restore) { %>
                <%- include('partials/restore') %>
            <% } %>

            <nav class="flex">
                <ol class="flex items-center container px-6 mx-auto mb-4 space-x-4">
                    <li class="md:hidden">
                        <div class="flex items-center">
                            <a href="/" class="font-medium text-gray-500 dark:text-gray-100 hover:text-gray-700 dark:hover:text-gray-300">
                                &#8592; Back
                            </a>
                        </div>
                    </li>
                    <li class="hidden md:contents">
                        <div>
                            <a href="/" class="text-gray-400 dark:text-gray-100 hover:text-gray-500 dark:hover:text-gray-300">
                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                                </svg>
                                <span class="sr-only">Home</span>
                            </a>
                        </div>
                    </li>
                    <li class="hidden md:block">
                        <div class="flex items-center">
                            <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                            <a href="/service/<%= service.Spec.Name %>" class="ml-4 text-sm font-medium text-gray-500 dark:text-gray-100 hover:text-gray-700 dark:hover:text-gray-300">
                                <%= service.Spec.Name %>
                            </a>
                        </div>
                    </li>
                </ol>
            </nav>

            <div class="flex flex-col flex-1 w-full gap-10">
                <div class="container px-6 mx-auto grid gap-10">
                    <div class="lg:flex lg:items-center lg:justify-between">
                        <div class="flex-1 min-w-0">
                            <h2 class="text-xl font-bold leading-7 text-gray-900 dark:text-gray-100 sm:truncate">
                                <%= service.Spec.Name %>
                            </h2>
                        </div>
                        <div class="mt-4 flex lg:mt-0 lg:ml-4">
                            <% if(typeof service.UpdateStatus === "undefined" || (service.UpdateStatus.State === "completed" || service.UpdateStatus.State === "rollback_completed" || service.UpdateStatus.State === "paused")) { %>
                                <span>
                                    <a href="/service/<%= service.Spec.Name %>/update" aria-label="Update the <%= service.Spec.Name %> service" title="Update the <%= service.Spec.Name %> service" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                        <svg class="hidden sm:block -ml-1 mr-2 h-5 w-5 text-orange-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                        </svg>
                                        Edit
                                    </a>
                                </span>
                                <span class="ml-3">
                                    <a href="/service/<%= service.Spec.Name %>/force_update" aria-label="Force re-deploy the <%= service.Spec.Name %> service" title="Force re-deploy the <%= service.Spec.Name %> service" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                        <svg class="hidden sm:block -ml-1 mr-2 h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6 10c0 3.31-2.69 6-6 6s-6-2.69-6-6h2c0 2.21 1.79 4 4 4s4-1.79 4-4-1.79-4-4-4v3L8 7l4-4v3c3.31 0 6 2.69 6 6z" fill-rule="evenodd"/>
                                        </svg>
                                        Force Update
                                    </a>
                                </span>
                                <span class="ml-3">
                                    <a href="/service/<%= service.Spec.Name %>/scale" aria-label="Scale the <%= service.Spec.Name %> service" title="Scale the <%= service.Spec.Name %> service" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                        <svg class="hidden sm:block -ml-1 mr-2 h-5 w-5 text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path d="M17,20v-9h-2V4h7l-2,5h2L17,20z M15,13v7H4c-1.1,0-2-0.9-2-2v-3c0-1.1,0.9-2,2-2H15z M6.25,15.75h-1.5v1.5h1.5V15.75z M13,4v7H4c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2H13z M6.25,6.75h-1.5v1.5h1.5V6.75z"/>
                                        </svg>
                                        Scale
                                    </a>
                                </span>
                            <% } else { %>
                                <span>
                                    <span class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white dark:bg-gray-300 cursor-not-allowed">
                                        <svg class="hidden sm:block -ml-1 mr-2 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                        </svg>
                                        Edit
                                    </span>
                                </span>
                                <span class="ml-3">
                                    <span class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white dark:bg-gray-300 cursor-not-allowed">
                                        <svg class="hidden sm:block -ml-1 mr-2 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6 10c0 3.31-2.69 6-6 6s-6-2.69-6-6h2c0 2.21 1.79 4 4 4s4-1.79 4-4-1.79-4-4-4v3L8 7l4-4v3c3.31 0 6 2.69 6 6z" fill-rule="evenodd"/>
                                        </svg>
                                        Force Update
                                    </span>
                                </span>
                                <span class="ml-3">
                                    <span class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white dark:bg-gray-300 cursor-not-allowed">
                                        <svg class="hidden sm:block -ml-1 mr-2 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path d="M17,20v-9h-2V4h7l-2,5h2L17,20z M15,13v7H4c-1.1,0-2-0.9-2-2v-3c0-1.1,0.9-2,2-2H15z M6.25,15.75h-1.5v1.5h1.5V15.75z M13,4v7H4c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2H13z M6.25,6.75h-1.5v1.5h1.5V6.75z"/>
                                        </svg>
                                        Scale
                                    </span>
                                </span>
                            <% } %>
                        </div>
                    </div>

                    <% if(error) { %>
                        <div class="bg-red-600 text-white p-3 rounded shadow-lg flex items-center">
                            <div>
                                <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div><%= error_text %></div>
                        </div>
                    <% } %>

                    <% if(info) { %>
                        <div class="bg-blue-500 text-white p-3 rounded shadow-lg flex items-center">
                            <div>
                                <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div><%= info_text %></div>
                        </div>
                    <% } %>

                    <main>
                        <div class="max-w-3xl mx-auto grid grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
                            <div class="space-y-6 lg:col-start-1 lg:col-span-2">
                                <section>
                                    <div class="bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                                        <div class="px-4 py-5 sm:px-6">
                                            <h2 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">Service Information</h2>
                                        </div>
                                        <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:px-6">
                                            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                                                <div class="sm:col-span-2">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        ID
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <%= service.ID %>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Status
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900">
                                                        <span class="whitespace-nowrap px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= (typeof service.UpdateStatus === "undefined" || service.UpdateStatus.State === "completed") ? 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' : '' %> <%= (typeof service.UpdateStatus !== "undefined" && service.UpdateStatus.State !== "completed") ? 'text-orange-800 bg-orange-200 dark:text-orange-50 dark:bg-orange-700' : '' %>">
                                                            <% if(typeof service.UpdateStatus === "undefined" || (service.UpdateStatus.State === "completed" || service.UpdateStatus.State === "rollback_completed")) { %>
                                                                running
                                                            <% } else if(typeof service.UpdateStatus === "undefined" || service.UpdateStatus.State === "paused") { %>
                                                                paused
                                                            <% } else { %>
                                                                updating
                                                            <% } %>
                                                        </span>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Container Status
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900">
                                                        <span class="whitespace-nowrap px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= service.ServiceStatus.RunningTasks === service.ServiceStatus.DesiredTasks ? 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' : '' %> <%= service.ServiceStatus.RunningTasks !== service.ServiceStatus.DesiredTasks ? 'text-red-800 bg-red-200 dark:text-red-50 dark:bg-red-700' : '' %>">
                                                            <%= service.ServiceStatus.RunningTasks %> / <%= service.ServiceStatus.DesiredTasks %>
                                                        </span>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Version
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <%= service.Version.Index %>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Image
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400 truncate">
                                                        <%= service.Spec.TaskTemplate.ContainerSpec.Image.replace(/^.*\//, '').split('@')[0] %>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Created
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <%= new Date(service.CreatedAt).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Updated
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <%= new Date(service.UpdatedAt).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                    </dd>
                                                </div>
                                                <% if(service.Spec.TaskTemplate.Resources.Limits) { %>
                                                    <% if(service.Spec.TaskTemplate.Resources.Limits.NanoCPUs) { %>
                                                        <div class="sm:col-span-1">
                                                            <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                                CPU Limit
                                                            </dt>
                                                            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                                <%= (service.Spec.TaskTemplate.Resources.Limits.NanoCPUs * 0.000000001) %>
                                                            </dd>
                                                        </div>
                                                    <% } %>
                                                    <% if(service.Spec.TaskTemplate.Resources.Limits.MemoryBytes) { %>
                                                        <div class="sm:col-span-1">
                                                            <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                                Memory Limit
                                                            </dt>
                                                            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                                <%= getBytes(service.Spec.TaskTemplate.Resources.Limits.MemoryBytes) %>
                                                            </dd>
                                                        </div>
                                                    <% } %>
                                                <% } %>
                                                <% if(service.Spec.TaskTemplate.Resources.Reservations) { %>
                                                    <% if(service.Spec.TaskTemplate.Resources.Reservations.NanoCPUs) { %>
                                                        <div class="sm:col-span-1">
                                                            <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                                CPU Reservation
                                                            </dt>
                                                            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                                <%= (service.Spec.TaskTemplate.Resources.Reservations.NanoCPUs * 0.000000001) %>
                                                            </dd>
                                                        </div>
                                                    <% } %>
                                                    <% if(service.Spec.TaskTemplate.Resources.Reservations.MemoryBytes) { %>
                                                        <div class="sm:col-span-1">
                                                            <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                                Memory Reservation
                                                            </dt>
                                                            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                                <%= getBytes(service.Spec.TaskTemplate.Resources.Reservations.MemoryBytes) %>
                                                            </dd>
                                                        </div>
                                                    <% } %>
                                                <% } %>
                                                <div class="sm:col-span-2">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">Labels</dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <ul role="list" class="border border-gray-200 dark:border-gray-600 rounded-md divide-y divide-gray-200 dark:divide-gray-600">
                                                            <% Object.keys(service.Spec.Labels).forEach((label) => { %>
                                                                <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                                                    <div class="w-0 flex-1 flex items-center">
                                                                        <span class="ml-2 flex-1 w-0 text-xs">
                                                                            <span class="font-bold"><%= label %></span>: <%= service.Spec.Labels[label] %>
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                            <% }); %>
                                                        </ul>
                                                    </dd>
                                                </div>
                                                <% if(service.Spec.TaskTemplate.ContainerSpec.Env) { %>
                                                    <div class="sm:col-span-2">
                                                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">Environment Variables</dt>
                                                        <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                            <ul role="list" class="border border-gray-200 dark:border-gray-600 rounded-md divide-y divide-gray-200 dark:divide-gray-600">
                                                                <% service.Spec.TaskTemplate.ContainerSpec.Env.forEach((env) => { %>
                                                                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                                                        <div class="w-0 flex-1 flex items-center">
                                                                            <span class="ml-2 flex-1 w-0 text-xs">
                                                                                <span class="font-bold"><%= env.split('=')[0] %></span>: <%= env.split('=')[1] %>
                                                                            </span>
                                                                        </div>
                                                                    </li>
                                                                <% }); %>
                                                            </ul>
                                                        </dd>
                                                    </div>
                                                <% } %>
                                            </dl>
                                        </div>
                                    </div>
                                </section>

                                <section>
                                    <div class="bg-white dark:bg-gray-800 shadow sm:rounded-lg sm:overflow-hidden">
                                        <div class="divide-y divide-gray-200 dark:divide-gray-600">
                                            <div class="px-4 py-5 sm:px-6">
                                                <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">Tasks / Containers</h2>
                                            </div>
                                            <div class="px-4 py-6 sm:px-6">
                                                <div class="bg-white dark:bg-gray-900 shadow overflow-hidden sm:rounded-md">
                                                    <ul class="divide-y divide-gray-200 dark:divide-gray-600">
                                                        <% service.__tasks.sort((a, b) => a.Status.State.localeCompare(b.Status.State)).forEach((task) => { %>
                                                            <% if(typeof task.Status.ContainerStatus !== "undefined") { %>
                                                                <li>
                                                                    <a href="/service/<%= service.Spec.Name %>/task/<%= task.ID %>" class="block hover:bg-gray-100 dark:hover:bg-gray-700">
                                                                        <div class="px-4 py-4 flex items-center sm:px-6">
                                                                            <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                                                                                <div class="truncate">
                                                                                    <div class="flex">
                                                                                        <p class="font-medium text-sm text-purple-600 dark:text-purple-400 truncate"><%= task.ID %></p>
                                                                                        <p class="ml-1 flex-shrink-0 font-normal text-sm text-gray-500 dark:text-gray-400">- Slot: <%= task.Slot %></p>
                                                                                    </div>
                                                                                    <div class="mt-2 sm:flex sm:justify-between">
                                                                                        <div class="sm:flex">
                                                                                            <p class="flex items-center text-xs text-gray-500 dark:text-gray-400">
                                                                                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                                                                                    <path d="M21,10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-0.1c-2.73,2.71-2.73,7.08,0,9.79s7.15,2.71,9.88,0 C18.32,15.65,19,14.08,19,12.1h2c0,1.98-0.88,4.55-2.64,6.29c-3.51,3.48-9.21,3.48-12.72,0c-3.5-3.47-3.53-9.11-0.02-12.58 s9.14-3.47,12.65,0L21,3V10.12z M12.5,8v4.25l3.5,2.08l-0.72,1.21L11,13V8H12.5z"/>
                                                                                                </svg>
                                                                                                <%= new Date(task.UpdatedAt).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                                                            </p>
                                                                                            <p class="mt-2 flex items-center text-xs text-gray-500 dark:text-gray-400 sm:mt-0 sm:ml-6">
                                                                                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                                                                                    <path d="M2 20h20v-4H2v4zm2-3h2v2H4v-2zM2 4v4h20V4H2zm4 3H4V5h2v2zm-4 7h20v-4H2v4zm2-3h2v2H4v-2z"/>
                                                                                                </svg>
                                                                                                <span class="truncate"><%= task.Spec.ContainerSpec.Image.replace(/^.*\//, '').split('@')[0] %></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mt-4 flex-shrink-0 sm:mt-0 sm:ml-5">
                                                                                    <span class="px-2 py-1 font-semibold leading-tight text-xs text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= (task.Status.State === 'running' || task.Status.State === 'complete') && 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' %> <%= (task.Status.State === 'new' || task.Status.State === 'allocated' || task.Status.State === 'pending' || task.Status.State === 'assigned' || task.Status.State === 'accepted' || task.Status.State === 'preparing' || task.Status.State === 'ready' || task.Status.State === 'starting') && 'text-blue-800 bg-blue-200 dark:text-blue-50 dark:bg-blue-600' %> <%= (task.Status.State === 'shutdown' || task.Status.State === 'failed' || task.Status.State === 'rejected' || task.Status.State === 'remove' || task.Status.State === 'orphaned') && 'text-red-800 bg-red-200 dark:text-red-50 dark:bg-red-700' %>">
                                                                                        <%= task.Status.State %>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="ml-5 flex-shrink-0">
                                                                                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                                                                </svg>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            <% } else { %>
                                                                <li>
                                                                    <span class="block cursor-not-allowed">
                                                                        <div class="px-4 py-4 flex items-center sm:px-6">
                                                                            <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                                                                                <div class="truncate">
                                                                                    <div class="flex">
                                                                                        <p class="font-medium text-sm text-purple-600 dark:text-purple-400 truncate"><%= task.ID %></p>
                                                                                        <p class="ml-1 flex-shrink-0 font-normal text-sm text-gray-500 dark:text-gray-400">- Slot: <%= task.Slot %></p>
                                                                                    </div>
                                                                                    <div class="mt-2 sm:flex sm:justify-between">
                                                                                        <div class="sm:flex">
                                                                                            <p class="flex items-center text-xs text-gray-500 dark:text-gray-400">
                                                                                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                                                                                    <path d="M21,10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-0.1c-2.73,2.71-2.73,7.08,0,9.79s7.15,2.71,9.88,0 C18.32,15.65,19,14.08,19,12.1h2c0,1.98-0.88,4.55-2.64,6.29c-3.51,3.48-9.21,3.48-12.72,0c-3.5-3.47-3.53-9.11-0.02-12.58 s9.14-3.47,12.65,0L21,3V10.12z M12.5,8v4.25l3.5,2.08l-0.72,1.21L11,13V8H12.5z"/>
                                                                                                </svg>
                                                                                                <%= new Date(task.UpdatedAt).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                                                            </p>
                                                                                            <p class="mt-2 flex items-center text-xs text-gray-500 dark:text-gray-400 sm:mt-0 sm:ml-6">
                                                                                                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                                                                                    <path d="M2 20h20v-4H2v4zm2-3h2v2H4v-2zM2 4v4h20V4H2zm4 3H4V5h2v2zm-4 7h20v-4H2v4zm2-3h2v2H4v-2z"/>
                                                                                                </svg>
                                                                                                <span class="truncate"><%= task.Spec.ContainerSpec.Image.replace(/^.*\//, '').split('@')[0] %></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mt-4 flex-shrink-0 sm:mt-0 sm:ml-5">
                                                                                    <span class="px-2 py-1 font-semibold leading-tight text-xs text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= (task.Status.State === 'running' || task.Status.State === 'complete') && 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' %> <%= (task.Status.State === 'new' || task.Status.State === 'allocated' || task.Status.State === 'pending' || task.Status.State === 'assigned' || task.Status.State === 'accepted' || task.Status.State === 'preparing' || task.Status.State === 'ready' || task.Status.State === 'starting') && 'text-blue-800 bg-blue-200 dark:text-blue-50 dark:bg-blue-600' %> <%= (task.Status.State === 'shutdown' || task.Status.State === 'failed' || task.Status.State === 'rejected' || task.Status.State === 'remove' || task.Status.State === 'orphaned') && 'text-red-800 bg-red-200 dark:text-red-50 dark:bg-red-700' %>">
                                                                                        <%= task.Status.State %>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                                </li>
                                                            <% } %>
                                                        <% }); %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div class="space-y-6 lg:col-start-3 lg:col-span-1">
                                <section>
                                    <div class="bg-white dark:bg-gray-800 px-4 py-5 shadow sm:rounded-lg sm:px-6">
                                        <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">Shortcuts</h2>
                                        <div class="mt-6 flex flex-col justify-stretch space-y-2">
                                            <% if(traefik_url) { %>
                                                <a href="https://<%= traefik_url %>" target="_blank" rel="noopener noreferrer" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md shadow-sm text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                                    <svg class="-ml-1 mr-2 h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 66" fill-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="currentColor">
                                                        <use xlink:href="#A" x=".5" y=".5"/>
                                                        <symbol id="A" overflow="visible">
                                                            <g stroke="none" fill-rule="nonzero">
                                                                <path d="M8.467 25.152s4.599-3.998 18.212-3.998c12.488 0 15.998 2.829 19.562 3.999l-18.596 9.075z" fill="#c9781f"/>
                                                                <path d="M6.526 37.187c.084 1.735 1.819.932 2.605.39.746-.515.964-.087 1.03-1.103l.082-2.006c-1.131-.102-2.355.166-3.28.837-.478.348-1.37 1.449-.435 1.882" fill="#f6d2a2"/>
                                                                <path d="M6.526 37.187c.253-.093.52-.16.691-.389" fill="#c6b198"/>
                                                                <path d="M10.535 16.524c-6.649-1.87-1.705-10.314 3.634-6.84zM40.076 9.05c5.263-3.692 10.019 4.637 3.902 6.733z" fill="#37abc8"/>
                                                                <path d="M41.209 58.534c1.337.826 3.78 3.324 1.775 4.535-1.927 1.762-3.005-1.934-4.696-2.446.728-.988 1.651-1.888 2.921-2.089zm-23.883 2.823c-1.569.242-2.452 1.656-3.76 2.374-1.233.734-1.704-.235-1.815-.432-.196-.088-.177.082-.475-.218-1.143-1.801 1.191-3.118 2.406-4.012 1.692-.342 2.753 1.123 3.645 2.288z" fill="#f6d2a2"/>
                                                                <path d="M10.813 14.19c-.877-.461-1.521-1.092-.984-2.106.497-.938 1.42-.836 2.297-.373zm31.78-.88c.877-.463 1.521-1.093.984-2.106-.497-.938-1.42-.836-2.297-.373z" fill="#077e91"/>
                                                                <path d="M48.631 36.966c-.084 1.734-1.819.932-2.605.39-.746-.515-.964-.087-1.03-1.103l-.082-2.006c1.131-.102 2.355.166 3.28.837.478.348 1.37 1.449.435 1.882" fill="#f6d2a2"/>
                                                                <path d="M48.631 36.967c-.253-.093-.52-.16-.691-.388" fill="#c6b198"/>
                                                                <path d="M26.912 5.541c6.657 0 12.897.951 16.149 7.337 2.92 7.159 1.882 14.878 2.327 22.444.383 6.496 1.23 14.001-1.788 20.022-3.175 6.334-11.109 7.927-17.643 7.693-5.134-.183-11.335-1.856-14.232-6.54-3.399-5.495-1.79-13.666-1.543-19.78.292-7.243-1.964-14.507.418-21.595 2.472-7.352 9.138-9.014 16.312-9.58" fill="#37abc8"/>
                                                                <path d="M28.087 14.465c1.195 6.938 12.551 5.104 10.92-1.891-1.462-6.275-11.317-4.538-10.92 1.891m-13.57 1.122c1.549 6.04 11.233 4.494 10.868-1.565-.435-7.257-12.349-5.856-10.868 1.565m15.775 6.966c.005.927.217 1.833.034 2.874-.23.435-.683.481-1.073.657a1.58 1.58 0 0 1-1.209-.942c-.139-1.095.052-2.156.087-3.251z"/>
                                                                <path d="M15.553 14.602c0-.98.729-1.769 1.635-1.769s1.635.789 1.635 1.769-.729 1.769-1.635 1.769-1.635-.789-1.635-1.769z" fill="#000"/>
                                                                <path d="M17.546 15.001c0-.249.172-.45.386-.45s.385.2.385.45-.172.45-.385.45-.386-.2-.386-.45z"/>
                                                                <path d="M29.281 14.162c0-.98.717-1.769 1.608-1.769s1.608.789 1.608 1.769-.717 1.769-1.608 1.769-1.608-.789-1.608-1.769z" fill="#000"/>
                                                                <path d="M31.241 14.561c0-.249.169-.45.379-.45s.379.2.379.45-.169.45-.379.45-.379-.2-.379-.45zm-5.622 8.131c-.713 1.727.398 5.18 2.334 2.631-.139-1.095.052-2.156.086-3.251z"/>
                                                                <path d="M25.506 19.367c-1.33.113-2.417 1.692-1.725 2.942.916 1.652 2.959-.146 4.232.022 1.465.03 2.665 1.547 3.842.274 1.309-1.413-.563-2.794-2.026-3.41z" fill="#f6d2a2"/>
                                                                <path d="M8.467 25.152l.392 6.517c-.029 1.963 1.854.723 1.952 3.811s-1.141 2.502-1.794 4.013-1.096 8.587-1.096 8.587.67 1.322 2.761 2.513 5.457 1.859 8.367 1.728 4.992-.755 5.513-1.099 1.383-1.434 1.708-2.277 1.003-7.785.956-11.757-.705-7.637-.705-7.637z" fill="#ef9325"/>
                                                                <path d="M26.914 44.493c-8.576.956-18.527-1.687-18.527-1.687s.146-2.681.79-3.624c8.92 2.76 17.918 1.885 17.918 1.885.133 1.251.039 2.246-.181 3.426zm-1.077 5.283c-8.576.956-17.913-1.793-17.913-1.793s-.03-2.575.311-3.706c8.92 2.76 18.446 2.072 18.446 2.072-.08 1.359-.272 2.696-.844 3.426z" fill="#e5e5e5"/>
                                                                <path d="M46.242 25.152l-.029 6.517c.029 1.963-1.141.723-1.241 3.811s1.155 2.502 1.816 4.013 1.11 8.587 1.11 8.587-.678 1.322-2.796 2.513-5.523 1.859-8.472 1.728-5.055-.755-5.582-1.099-1.401-1.434-1.729-2.277-1.016-7.785-.967-11.757.713-7.637.713-7.637z" fill="#ef9325"/>
                                                                <path d="M28.667 44.493c8.684.956 18.762-1.687 18.762-1.687s-.148-2.681-.8-3.624c-9.032 2.76-18.143 1.885-18.143 1.885-.135 1.251-.04 2.246.183 3.426zm1.093 5.283c8.684.956 18.138-1.793 18.138-1.793s.03-2.575-.315-3.706c-9.031 2.76-18.678 2.072-18.678 2.072.081 1.359.275 2.696.855 3.426z" fill="#e5e5e5"/>
                                                                <path d="M49.705 33.504c-.27.509-.804.754-1.193.548l-.312-.165c-.391-.206-.486-.783-.216-1.294l6.077-11.455c.27-.509.804-.754 1.193-.548l.312.165c.391.206.486.783.216 1.294z" fill="#d2e261"/>
                                                                <path d="M46.836 38.914c-.157.296-.6.37-.989.164l-.312-.165c-.391-.206-.577-.613-.42-.909l2.851-5.374c.157-.296.6-.37.989-.164l.312.165c.391.206.577.613.419.909z" fill="#000"/>
                                                                <path d="M49.37 32.435l-.312-.165c-.391-.206-.787-.217-.891-.025l-.182.343c.102-.192.5-.181.891.025l.312.165c.391.206.622.528.52.721l.182-.343c.102-.192-.131-.515-.52-.721z" fill="#9b9b9b"/>
                                                                <path d="M45.549 35.076c.2-.537.92-.761 1.614-.502s1.093.899.893 1.435-.92.761-1.614.502-1.093-.899-.893-1.435z" fill="#f6d2a2"/>
                                                                <path d="M5.671 33.687c.246.52.769.79 1.167.602l.319-.15c.398-.188.521-.762.275-1.282L1.887 21.138c-.246-.52-.768-.79-1.167-.602l-.319.15c-.398.188-.521.762-.275 1.282z" fill="#d2e261"/>
                                                                <path d="M8.29 39.225c.143.303.583.397.978.209l.319-.151c.398-.188.604-.586.461-.891l-2.599-5.497c-.143-.303-.583-.396-.978-.209l-.319.151c-.398.188-.604.586-.461.891z" fill="#000"/>
                                                                <path d="M6.055 32.637l.319-.151c.398-.188.796-.181.891.016l.166.352c-.093-.197-.491-.203-.891-.016l-.319.15c-.398.188-.646.499-.553.696l-.166-.352c-.093-.196.152-.508.553-.696z" fill="#9b9b9b"/>
                                                                <path d="M10 35.226c.2.537-.199 1.177-.893 1.435s-1.415.035-1.614-.502.199-1.177.893-1.435 1.415-.035 1.614.502z" fill="#f6d2a2"/>
                                                                <path d="M11.316 19.126c-.264.48-.888.644-1.393.367l-.581-.319c-.505-.277-.7-.891-.436-1.371l6.045-10.978c.264-.48.888-.644 1.393-.367l.581.319c.505.277.635.796.436 1.371-2.118 6.101-6.045 10.978-6.045 10.978z" fill="#960000"/>
                                                                <path d="M12.915 12.856c1.838-3.338 3.044-6.21 2.758-6.535l.006-.012c-.008-.004-.016-.007-.022-.011l-.003-.002C12.828 4.767 9.027 6.28 7.15 9.691s-1.122 7.426 1.684 8.989l-.001.002c.012.004.018.01.026.014l.007-.012c.429.068 2.21-2.488 4.048-5.826z" fill="#595959"/>
                                                                <path d="M43.207 19.149c.25.487.869.67 1.382.407l.59-.304c.513-.263.726-.871.475-1.358L39.929 6.746c-.25-.487-.869-.67-1.382-.407l-.59.304c-.513.263-.658.778-.475 1.358 1.94 6.16 5.725 11.148 5.725 11.148z" fill="#960000"/>
                                                                <path d="M41.789 12.838c-1.741-3.39-2.865-6.295-2.568-6.612l-.007-.012c.008-.004.017-.006.024-.011l.003-.001c2.87-1.446 6.623.174 8.401 3.639s.907 7.454-1.943 8.936l.001.002c-.012.004-.019.01-.027.014l-.007-.012c-.431.056-2.138-2.551-3.879-5.941z" fill="#595959"/>
                                                                <path d="M47.457 11.406s-2.115-5.29-4.568-8.087-26.453-3.751-30.394 0-5.427 8.088-5.427 8.088v-1.174s1.823-5.152 5.427-8.087 27.288-2.783 30.344 0 4.618 8.087 4.618 8.087z" fill="#353535"/>
                                                                <path d="M48.165 9.638c.511.996.593 1.967.185 2.176s-1.148-.424-1.659-1.42-.593-1.966-.185-2.176 1.148.424 1.659 1.42zM6.638 9.48c.539-.981 1.297-1.593 1.699-1.372s.292 1.189-.248 2.17-1.297 1.593-1.699 1.371-.292-1.189.248-2.17z" fill="#960000"/>
                                                                <path d="M38.414 10.289H16.029c-4.019 0-4.005 10.666-.232 11.281l7.805-.501c.944 0 2.827-3.649 3.181-3.936s1.518-.322 1.976 0 1.501 3.568 2.444 3.568l7.805.869c3.645-1.675 2.726-11.28-.587-11.28z" opacity=".6"/>
                                                                <path d="M21.972 12.495l-8.43-.015c-.353 1.157-.747 2.621-.552 4.044l9.033.009c1.781 0 3.279.336 4.674.699a.79.79 0 0 1 .086-.094c.353-.287 1.517-.322 1.976 0 .118.083.277.364.462.732a10.92 10.92 0 0 0 2.164.262l9.782.009c.387-1.292.102-2.678.015-3.979-2.968 0-7.686-.067-9.948-.067-3.187 0-5.97-1.526-9.258-1.599z" opacity=".5"/>
                                                                <path d="M25.338 19.297c-.098-2.301 4.294-2.588 4.813-.662s-4.596 2.37-4.812.662c-.173-1.361 0 0 0 0z" fill="#000"/>
                                                            </g>
                                                        </symbol>
                                                    </svg>
                                                    Open website
                                                </a>
                                            <% } %>
                                            <a href="/service/<%= service.Spec.Name %>/logs" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md shadow-sm text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                                <svg class="-ml-1 mr-2 h-6 w-6 text-purple-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                    <path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"/>
                                                </svg>
                                                Open logs
                                            </a>
                                            <a href="/service/<%= service.Spec.Name %>/restore" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md shadow-sm text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                                <svg class="-ml-1 mr-2 h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                    <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/>
                                                </svg>
                                                Restore Service
                                            </a>
                                        </div>
                                    </div>
                                </section>

                                <section>
                                    <div class="bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                                        <div class="mt-6 flow-root px-4 py-5 sm:px-6">
                                            <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">History</h2>
                                            <ul class="-mb-8 mt-6">
                                                <% if(service_logs.length < 1) { %>
                                                    <div class="text-center mb-10">
                                                        <svg class="mx-auto h-12 w-12 text-gray-400 dark:text-gray-100" viewBox="0 0 24 24" fill="currentColor">
                                                            <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/>
                                                        </svg>
                                                        <h3 class="mt-2 text-sm font-medium text-gray-900 dark:text-gray-100">No history</h3>
                                                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Logs will appear here once changes have been made to the service</p>
                                                    </div>
                                                <% } %>
                                                <% service_logs.sort((a, b) => b.time - a.time).slice(0, 6).forEach((log, index, logs) => { %>
                                                    <li>
                                                        <div class="relative pb-8">
                                                            <% if(logs.length > (index + 1)) { %>
                                                                <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200 dark:bg-gray-600"></span>
                                                            <% } %>
                                                            <div class="relative flex space-x-3">
                                                                <div>
                                                                    <% if(log.type === 'attempt_update' || log.type === 'update') { %>
                                                                        <span class="h-8 w-8 rounded-full bg-orange-400 flex items-center justify-center ring-8 ring-white dark:ring-gray-800">
                                                                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                                                            </svg>
                                                                        </span>
                                                                    <% } %>
                                                                    <% if(log.type === 'attempt_force_update' || log.type === 'force_update') { %>
                                                                        <span class="h-8 w-8 rounded-full bg-red-400 flex items-center justify-center ring-8 ring-white dark:ring-gray-800">
                                                                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6 10c0 3.31-2.69 6-6 6s-6-2.69-6-6h2c0 2.21 1.79 4 4 4s4-1.79 4-4-1.79-4-4-4v3L8 7l4-4v3c3.31 0 6 2.69 6 6z" fill-rule="evenodd"/>
                                                                            </svg>
                                                                        </span>
                                                                    <% } %>
                                                                    <% if(log.type === 'attempt_scale' || log.type === 'scale') { %>
                                                                        <span class="h-8 w-8 rounded-full bg-blue-400 flex items-center justify-center ring-8 ring-white dark:ring-gray-800">
                                                                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                                <path d="M17,20v-9h-2V4h7l-2,5h2L17,20z M15,13v7H4c-1.1,0-2-0.9-2-2v-3c0-1.1,0.9-2,2-2H15z M6.25,15.75h-1.5v1.5h1.5V15.75z M13,4v7H4c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2H13z M6.25,6.75h-1.5v1.5h1.5V6.75z"/>
                                                                            </svg>
                                                                        </span>
                                                                    <% } %>
                                                                    <% if(log.type === 'attempt_restore' || log.type === 'restore') { %>
                                                                        <span class="h-8 w-8 rounded-full bg-green-600 flex items-center justify-center ring-8 ring-white dark:ring-gray-800">
                                                                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                                <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"></path>
                                                                            </svg>
                                                                        </span>
                                                                    <% } %>
                                                                </div>
                                                                <div class="min-w-0 flex-1 pt-2 flex justify-between space-x-4">
                                                                    <div>
                                                                        <p class="mb-2 text-xs italic text-gray-500 dark:text-gray-400">
                                                                            <%= new Date(log.time).toLocaleTimeString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                                        </p>
                                                                        <% if(log.type === 'attempt_update') { %>
                                                                            <p class="text-xs text-red-800 dark:text-red-400">Attempt to update by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'attempt_force_update') { %>
                                                                            <p class="text-xs text-red-800 dark:text-red-400">Attempt to force re-deploy by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'attempt_scale') { %>
                                                                            <p class="text-xs text-red-800 dark:text-red-400">Attempt to scale by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'attempt_restore') { %>
                                                                            <p class="text-xs text-red-800 dark:text-red-400">Attempt to restore by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>

                                                                        <% if(log.type === 'update') { %>
                                                                            <p class="text-xs text-gray-500 dark:text-gray-400">Image version updated from <%= log.params.old_image_version.split('@')[0] %> to <%= log.params.new_image_version.split('@')[0] %> by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'force_update') { %>
                                                                            <p class="text-xs text-gray-500 dark:text-gray-400">Force re-deployed by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'scale') { %>
                                                                            <p class="text-xs text-gray-500 dark:text-gray-400">Scaled to <%= log.params.scale %> container(s) by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'restore') { %>
                                                                            <p class="text-xs text-gray-500 dark:text-gray-400">Restored by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                        <% if(service_logs.length > 0) { %>
                                            <div>
                                                <a href="/service/<%= service.Spec.Name %>/history/download" download="<%= service.Spec.Name %>_<%= new Date().getTime() %>.log" class="mt-3 inline-flex items-center justify-center w-full block bg-gray-50 dark:bg-gray-700 text-sm font-medium text-gray-500 dark:text-gray-300 text-center px-4 py-4 hover:text-gray-700 hover:dark:text-gray-50 sm:rounded-b-lg">
                                                    <svg class="-ml-1 mr-2 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                        <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                                                    </svg>
                                                    Download Logs
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </main>

                    <footer class="flex-shrink-0 max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
                        <nav class="flex justify-center space-x-4 mb-2">
                            <a href="https://github.com/glenndehaan/ship" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">GitHub</a>
                            <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
                            <a href="https://github.com/glenndehaan/ship/issues" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">Issues</a>
                            <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
                            <a href="https://github.com/glenndehaan/ship/blob/master/README.md" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">Documentation</a>
                        </nav>
                        <div class="flex justify-center text-xs italic">Host: <%= hostname %></div>
                    </footer>
                </div>
            </div>
        </main>
        <% if(debug_docker) { %>
            <script>
                window.__ship_docker_services = <%- JSON.stringify(docker_services) %>;
                window.__ship_docker_tasks = <%- JSON.stringify(docker_tasks) %>;
            </script>
        <% } %>
        <script>
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.querySelector('html').setAttribute('style', 'color-scheme: dark;');
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
                const newColorScheme = event.matches ? "dark" : "light";

                if(newColorScheme === 'light') {
                    document.querySelector('html').removeAttribute('style');
                } else {
                    document.querySelector('html').setAttribute('style', 'color-scheme: dark;');
                }
            });
        </script>
        <script>
            const params = new URLSearchParams(window.location.search);

            if(params.has('error') || params.has('message')) {
                window.history.replaceState({}, '', window.location.pathname);
            }
        </script>
    </body>
</html>
