<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= page_title %> | <%= app_title %></title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <meta name="description" content="A docker swarm service updater/deployment manager">
        <link rel="shortcut icon" href="/images/favicon.svg">

        <link rel="preload" href="/dist/style.css" as="style">
        <link href="/dist/style.css" rel="stylesheet">
    </head>
    <body class="bg-gray-50 dark:bg-gray-900 <%= !allow_overflow ? 'overflow-hidden' : '' %>">
        <% if(lockout_active) { %>
            <%- include('partials/lockout_banner') %>
        <% } %>
        <%- include('partials/header') %>
        <%- include('partials/activity') %>

        <main class="h-full overflow-y-auto mb-12 mt-8 pt-16 lg:pl-80 <%= lockout_active ? 'mt-24' : '' %>">
            <% if(edit) { %>
                <%- include('partials/edit') %>
            <% } %>

            <% if(force_update) { %>
                <%- include('partials/force_update') %>
            <% } %>

            <% if(scale) { %>
                <%- include('partials/scale') %>
            <% } %>

            <% if(restore) { %>
                <%- include('partials/restore') %>
            <% } %>

            <nav class="flex">
                <ol class="flex items-center container px-6 mx-auto mb-4 space-x-4">
                    <li class="md:hidden">
                        <div class="flex items-center">
                            <a href="/" class="font-medium text-gray-500 dark:text-gray-100 hover:text-gray-700 dark:hover:text-gray-300">
                                &#8592; Back
                            </a>
                        </div>
                    </li>
                    <li class="hidden md:contents">
                        <div>
                            <a href="/" class="text-gray-400 dark:text-gray-100 hover:text-gray-500 dark:hover:text-gray-300">
                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                                </svg>
                                <span class="sr-only">Home</span>
                            </a>
                        </div>
                    </li>
                    <li class="hidden md:block">
                        <div class="flex items-center">
                            <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                            <a href="/deployment/<%= deployment.metadata.namespace %>/<%= deployment.metadata.name %>" class="ml-4 text-sm font-medium text-gray-500 dark:text-gray-100 hover:text-gray-700 dark:hover:text-gray-300">
                                <%= deployment.metadata.namespace %> / <%= deployment.metadata.name %>
                            </a>
                        </div>
                    </li>
                </ol>
            </nav>

            <div class="flex flex-col flex-1 w-full gap-10">
                <div class="container px-6 mx-auto grid gap-10">
                    <div class="lg:flex lg:items-center lg:justify-between">
                        <div class="flex-1 min-w-0">
                            <h2 class="text-xl font-bold leading-7 text-gray-900 dark:text-gray-100 sm:truncate">
                                <%= deployment.metadata.namespace %> / <%= deployment.metadata.name %>
                            </h2>
                        </div>
                        <div class="mt-4 flex lg:mt-0 lg:ml-4">
                            <span>
                                <a href="/deployment/<%= deployment.metadata.namespace %>/<%= deployment.metadata.name %>/update" aria-label="Update the <%= deployment.metadata.namespace %>/<%= deployment.metadata.name %> deployment" title="Update the <%= deployment.metadata.namespace %>/<%= deployment.metadata.name %> deployment" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                    <svg class="hidden sm:block -ml-1 mr-2 h-5 w-5 text-orange-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                    </svg>
                                    Edit
                                </a>
                            </span>
                            <span class="ml-3">
                                <a href="/deployment/<%= deployment.metadata.namespace %>/<%= deployment.metadata.name %>/force_update" aria-label="Force re-deploy the <%= deployment.metadata.namespace %>/<%= deployment.metadata.name %> deployment" title="Force re-deploy the <%= deployment.metadata.namespace %>/<%= deployment.metadata.name %> deployment" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                    <svg class="hidden sm:block -ml-1 mr-2 h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6 10c0 3.31-2.69 6-6 6s-6-2.69-6-6h2c0 2.21 1.79 4 4 4s4-1.79 4-4-1.79-4-4-4v3L8 7l4-4v3c3.31 0 6 2.69 6 6z" fill-rule="evenodd"/>
                                    </svg>
                                    Rollout Restart
                                </a>
                            </span>
                            <span class="ml-3">
                                <a href="/deployment/<%= deployment.metadata.namespace %>/<%= deployment.metadata.name %>/scale" aria-label="Scale the <%= deployment.metadata.namespace %>/<%= deployment.metadata.name %> deployment" title="Scale the <%= deployment.metadata.namespace %>/<%= deployment.metadata.name %> deployment" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                    <svg class="hidden sm:block -ml-1 mr-2 h-5 w-5 text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M17,20v-9h-2V4h7l-2,5h2L17,20z M15,13v7H4c-1.1,0-2-0.9-2-2v-3c0-1.1,0.9-2,2-2H15z M6.25,15.75h-1.5v1.5h1.5V15.75z M13,4v7H4c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2H13z M6.25,6.75h-1.5v1.5h1.5V6.75z"/>
                                    </svg>
                                    Scale
                                </a>
                            </span>
                        </div>
                    </div>

                    <% if(error) { %>
                        <div class="bg-red-600 text-white p-3 rounded shadow-lg flex items-center">
                            <div>
                                <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div><%= error_text %></div>
                        </div>
                    <% } %>

                    <% if(info) { %>
                        <div class="bg-blue-500 text-white p-3 rounded shadow-lg flex items-center">
                            <div>
                                <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div><%= info_text %></div>
                        </div>
                    <% } %>

                    <main>
                        <div class="mx-auto grid grid-cols-1 gap-6 lg:grid-flow-col-dense lg:grid-cols-3">
                            <div class="space-y-6 lg:col-start-1 lg:col-span-2">
                                <section>
                                    <div class="bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                                        <div class="px-4 py-5 sm:px-6">
                                            <h2 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">Deployment Information</h2>
                                        </div>
                                        <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:px-6">
                                            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                                                <div class="sm:col-span-2">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        ID
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <%= deployment.metadata.uid %>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Status
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900">
                                                        <span class="whitespace-nowrap px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= (typeof service.UpdateStatus === "undefined" || (service.UpdateStatus.State === "completed" || service.UpdateStatus.State === "rollback_completed")) ? 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' : '' %> <%= (typeof service.UpdateStatus !== "undefined" && service.UpdateStatus.State !== "completed" && service.UpdateStatus.State !== "rollback_completed") ? 'text-orange-800 bg-orange-200 dark:text-orange-50 dark:bg-orange-700' : '' %>">
                                                            <% if(typeof service.UpdateStatus === "undefined" || (service.UpdateStatus.State === "completed" || service.UpdateStatus.State === "rollback_completed")) { %>
                                                                running
                                                            <% } else if(typeof service.UpdateStatus === "undefined" || service.UpdateStatus.State === "paused") { %>
                                                                paused
                                                            <% } else { %>
                                                                updating
                                                            <% } %>
                                                        </span>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Pod Status
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900">
                                                        <span class="whitespace-nowrap px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= deployment.status.readyReplicas === deployment.status.replicas ? 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' : '' %> <%= deployment.status.readyReplicas !== deployment.status.replicas ? 'text-red-800 bg-red-200 dark:text-red-50 dark:bg-red-700' : '' %>">
                                                            <%= deployment.status.readyReplicas %> / <%= deployment.status.replicas %>
                                                        </span>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Namespace
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <%= deployment.metadata.namespace %>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Image
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400 truncate">
                                                        <%= deployment.spec.template.spec.containers[0].image.replace(/^.*\//, '').split('@')[0] %>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Version
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <%= deployment.metadata.resourceVersion %>
                                                    </dd>
                                                </div>
                                                <div class="sm:col-span-1">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                        Created
                                                    </dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <%= new Date(deployment.metadata.creationTimestamp).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                    </dd>
                                                </div>
                                                <% if(deployment.spec.template.spec.containers[0].resources.limits) { %>
                                                    <% if(deployment.spec.template.spec.containers[0].resources.limits.cpu) { %>
                                                        <div class="sm:col-span-1">
                                                            <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                                CPU Limit
                                                            </dt>
                                                            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                                <%= deployment.spec.template.spec.containers[0].resources.limits.cpu %>
                                                            </dd>
                                                        </div>
                                                    <% } %>
                                                    <% if(deployment.spec.template.spec.containers[0].resources.limits.memory) { %>
                                                        <div class="sm:col-span-1">
                                                            <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                                Memory Limit
                                                            </dt>
                                                            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                                <%= deployment.spec.template.spec.containers[0].resources.limits.memory %>
                                                            </dd>
                                                        </div>
                                                    <% } %>
                                                <% } %>
                                                <% if(deployment.spec.template.spec.containers[0].resources.requests) { %>
                                                    <% if(deployment.spec.template.spec.containers[0].resources.requests.cpu) { %>
                                                        <div class="sm:col-span-1">
                                                            <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                                CPU Reservation
                                                            </dt>
                                                            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                                <%= deployment.spec.template.spec.containers[0].resources.requests.cpu %>
                                                            </dd>
                                                        </div>
                                                    <% } %>
                                                    <% if(deployment.spec.template.spec.containers[0].resources.requests.memory) { %>
                                                        <div class="sm:col-span-1">
                                                            <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">
                                                                Memory Reservation
                                                            </dt>
                                                            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                                <%= deployment.spec.template.spec.containers[0].resources.requests.memory %>
                                                            </dd>
                                                        </div>
                                                    <% } %>
                                                <% } %>
                                                <div class="sm:col-span-2">
                                                    <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">Labels</dt>
                                                    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                        <ul role="list" class="border border-gray-200 dark:border-gray-600 rounded-md divide-y divide-gray-200 dark:divide-gray-600">
                                                            <% Object.keys(deployment.metadata.labels).forEach((label) => { %>
                                                                <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                                                    <div class="w-0 flex-1 flex items-center">
                                                                        <span class="ml-2 flex-1 w-0 text-xs">
                                                                            <span class="font-bold"><%= label %></span>: <%= deployment.metadata.labels[label] %>
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                            <% }); %>
                                                        </ul>
                                                    </dd>
                                                </div>
                                                <% if(deployment.spec.template.spec.containers[0].env) { %>
                                                    <div class="sm:col-span-2">
                                                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-100">Environment Variables</dt>
                                                        <dd class="mt-1 text-sm text-gray-900 dark:text-gray-400">
                                                            <ul role="list" class="border border-gray-200 dark:border-gray-600 rounded-md divide-y divide-gray-200 dark:divide-gray-600">
                                                                <% deployment.spec.template.spec.containers[0].env.forEach((env) => { %>
                                                                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                                                        <div class="w-0 flex-1 flex items-center">
                                                                            <span class="ml-2 flex-1 w-0 text-xs">
                                                                                <span class="font-bold"><%= env.name %></span>: <%= env.value %>
                                                                            </span>
                                                                        </div>
                                                                    </li>
                                                                <% }); %>
                                                            </ul>
                                                        </dd>
                                                    </div>
                                                <% } %>
                                            </dl>
                                        </div>
                                    </div>
                                </section>

                                <section>
                                    <div class="bg-white dark:bg-gray-800 shadow sm:rounded-lg sm:overflow-hidden">
                                        <div class="divide-y divide-gray-200 dark:divide-gray-600">
                                            <div class="px-4 py-5 sm:px-6">
                                                <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">Pods</h2>
                                            </div>
                                            <div class="px-4 py-6 sm:px-6">
                                                <div class="bg-white dark:bg-gray-900 shadow overflow-hidden sm:rounded-md">
                                                    <ul class="divide-y divide-gray-200 dark:divide-gray-600">
                                                        <% deployment.__pods.forEach((pod) => { %>
                                                            <li>
                                                                <a href="/deployment/<%= deployment.metadata.namespace %>/<%= deployment.metadata.name %>/pod/<%= pod.metadata.name %>" class="block hover:bg-gray-100 dark:hover:bg-gray-700">
                                                                    <div class="px-4 py-4 flex items-center sm:px-6">
                                                                        <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                                                                            <div class="truncate">
                                                                                <div class="flex">
                                                                                    <p class="font-medium text-sm text-purple-600 dark:text-purple-400 truncate"><%= pod.metadata.name %></p>
                                                                                </div>
                                                                                <div class="mt-2 sm:flex sm:justify-between">
                                                                                    <div class="sm:flex">
                                                                                        <p class="flex items-center text-xs text-gray-500 dark:text-gray-400">
                                                                                            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                                                                                <path d="M21,10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-0.1c-2.73,2.71-2.73,7.08,0,9.79s7.15,2.71,9.88,0 C18.32,15.65,19,14.08,19,12.1h2c0,1.98-0.88,4.55-2.64,6.29c-3.51,3.48-9.21,3.48-12.72,0c-3.5-3.47-3.53-9.11-0.02-12.58 s9.14-3.47,12.65,0L21,3V10.12z M12.5,8v4.25l3.5,2.08l-0.72,1.21L11,13V8H12.5z"/>
                                                                                            </svg>
                                                                                            <%= new Date(pod.metadata.creationTimestamp).toLocaleTimeString('en-US', { hour: '2-digit', minute:'2-digit', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                                                        </p>
                                                                                        <p class="mt-2 flex items-center text-xs text-gray-500 dark:text-gray-400 sm:mt-0 sm:ml-6">
                                                                                            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-gray-300" fill="currentColor" viewBox="0 0 20 20">
                                                                                                <path d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7 3s-7-1.343-7-3z" />
                                                                                                <path d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657 3 7z" />
                                                                                                <path d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7 3z" />
                                                                                            </svg>
                                                                                            <span class="truncate"><%= pod.spec.containers[0].image.replace(/^.*\//, '').split('@')[0] %></span>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="mt-4 flex-shrink-0 sm:mt-0 sm:ml-5">
                                                                                <span class="px-2 py-1 font-semibold leading-tight text-xs text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700 <%= (pod.status.phase === 'Running' || pod.status.phase === 'Succeeded') && 'text-green-700 bg-green-100 dark:text-green-100 dark:bg-green-700' %> <%= pod.status.phase === 'Pending' && 'text-blue-800 bg-blue-200 dark:text-blue-50 dark:bg-blue-600' %> <%= (pod.status.phase === 'Failed' || pod.status.phase === 'Unknown') && 'text-red-800 bg-red-200 dark:text-red-50 dark:bg-red-700' %>">
                                                                                    <%= pod.status.phase %>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ml-5 flex-shrink-0">
                                                                            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        <% }); %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div class="space-y-6 lg:col-start-3 lg:col-span-1">
                                <section>
                                    <div class="bg-white dark:bg-gray-800 px-4 py-5 shadow sm:rounded-lg sm:px-6">
                                        <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">Shortcuts</h2>
                                        <div class="mt-6 flex flex-col justify-stretch space-y-2">
                                            <a href="/deployment/<%= deployment.metadata.namespace %>/<%= deployment.metadata.name %>/restore" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md shadow-sm text-gray-700 bg-white dark:bg-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                                                <svg class="-ml-1 mr-2 h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                    <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/>
                                                </svg>
                                                Rollback Deployment
                                            </a>
                                        </div>
                                    </div>
                                </section>

                                <section>
                                    <div class="bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                                        <div class="mt-6 flow-root px-4 py-5 sm:px-6">
                                            <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">History</h2>
                                            <ul class="-mb-8 mt-6">
                                                <% if(deployment_logs.length < 1) { %>
                                                    <div class="text-center mb-10">
                                                        <svg class="mx-auto h-12 w-12 text-gray-400 dark:text-gray-100" viewBox="0 0 24 24" fill="currentColor">
                                                            <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/>
                                                        </svg>
                                                        <h3 class="mt-2 text-sm font-medium text-gray-900 dark:text-gray-100">No history</h3>
                                                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Logs will appear here once changes have been made to the deployment</p>
                                                    </div>
                                                <% } %>
                                                <% deployment_logs.sort((a, b) => b.time - a.time).slice(0, 6).forEach((log, index, logs) => { %>
                                                    <li>
                                                        <div class="relative pb-8">
                                                            <% if(logs.length > (index + 1)) { %>
                                                                <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200 dark:bg-gray-600"></span>
                                                            <% } %>
                                                            <div class="relative flex space-x-3">
                                                                <div>
                                                                    <% if(log.type === 'attempt_update' || log.type === 'update') { %>
                                                                        <span class="h-8 w-8 rounded-full bg-orange-400 flex items-center justify-center ring-8 ring-white dark:ring-gray-800">
                                                                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                                                            </svg>
                                                                        </span>
                                                                    <% } %>
                                                                    <% if(log.type === 'attempt_force_update' || log.type === 'force_update') { %>
                                                                        <span class="h-8 w-8 rounded-full bg-red-400 flex items-center justify-center ring-8 ring-white dark:ring-gray-800">
                                                                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6 10c0 3.31-2.69 6-6 6s-6-2.69-6-6h2c0 2.21 1.79 4 4 4s4-1.79 4-4-1.79-4-4-4v3L8 7l4-4v3c3.31 0 6 2.69 6 6z" fill-rule="evenodd"/>
                                                                            </svg>
                                                                        </span>
                                                                    <% } %>
                                                                    <% if(log.type === 'attempt_scale' || log.type === 'scale') { %>
                                                                        <span class="h-8 w-8 rounded-full bg-blue-400 flex items-center justify-center ring-8 ring-white dark:ring-gray-800">
                                                                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                                <path d="M17,20v-9h-2V4h7l-2,5h2L17,20z M15,13v7H4c-1.1,0-2-0.9-2-2v-3c0-1.1,0.9-2,2-2H15z M6.25,15.75h-1.5v1.5h1.5V15.75z M13,4v7H4c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2H13z M6.25,6.75h-1.5v1.5h1.5V6.75z"/>
                                                                            </svg>
                                                                        </span>
                                                                    <% } %>
                                                                    <% if(log.type === 'attempt_restore' || log.type === 'restore') { %>
                                                                        <span class="h-8 w-8 rounded-full bg-green-600 flex items-center justify-center ring-8 ring-white dark:ring-gray-800">
                                                                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                                <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"></path>
                                                                            </svg>
                                                                        </span>
                                                                    <% } %>
                                                                </div>
                                                                <div class="min-w-0 flex-1 pt-2 flex justify-between space-x-4">
                                                                    <div>
                                                                        <p class="mb-2 text-xs italic text-gray-500 dark:text-gray-400">
                                                                            <%= new Date(log.time).toLocaleTimeString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', timeZone: 'UTC', timeZoneName: 'short', hour12: false }) %>
                                                                        </p>
                                                                        <% if(log.type === 'attempt_update') { %>
                                                                            <p class="text-xs text-red-800 dark:text-red-400">Attempt to update by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'attempt_force_update') { %>
                                                                            <p class="text-xs text-red-800 dark:text-red-400">Attempt to force re-deploy by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'attempt_scale') { %>
                                                                            <p class="text-xs text-red-800 dark:text-red-400">Attempt to scale by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'attempt_restore') { %>
                                                                            <p class="text-xs text-red-800 dark:text-red-400">Attempt to restore by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>

                                                                        <% if(log.type === 'update') { %>
                                                                            <p class="text-xs text-gray-500 dark:text-gray-400">Image version updated from <%= log.params.old_image_version.split('@')[0] %> to <%= log.params.new_image_version.split('@')[0] %> by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'force_update') { %>
                                                                            <p class="text-xs text-gray-500 dark:text-gray-400">Force re-deployed by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'scale') { %>
                                                                            <p class="text-xs text-gray-500 dark:text-gray-400">Scaled to <%= log.params.scale %> container(s) by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                        <% if(log.type === 'restore') { %>
                                                                            <p class="text-xs text-gray-500 dark:text-gray-400">Restored by <span class="font-medium text-gray-900 dark:text-gray-100"><%= log.username %></span></p>
                                                                        <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                        <% if(service_logs.length > 0) { %>
                                            <div>
                                                <a href="/service/<%= service.Spec.Name %>/history/download" download="<%= service.Spec.Name %>_<%= new Date().getTime() %>.log" class="mt-3 inline-flex items-center justify-center w-full block bg-gray-50 dark:bg-gray-700 text-sm font-medium text-gray-500 dark:text-gray-300 text-center px-4 py-4 hover:text-gray-700 hover:dark:text-gray-50 sm:rounded-b-lg">
                                                    <svg class="-ml-1 mr-2 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                        <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                                                    </svg>
                                                    Download Logs
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </main>

                    <footer class="flex-shrink-0 max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
                        <nav class="flex justify-center space-x-4 mb-2">
                            <a href="https://github.com/glenndehaan/ship" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">GitHub</a>
                            <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
                            <a href="https://github.com/glenndehaan/ship/issues" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">Issues</a>
                            <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
                            <a href="https://github.com/glenndehaan/ship/blob/master/README.md" target="_blank" rel="noopener noreferrer" class="text-sm font-medium hover:text-gray-400">Documentation</a>
                        </nav>
                        <div class="flex justify-center text-xs italic mb-1">Host: <%= hostname %> - Mode: <%= use_kubernetes ? 'Kubernetes' : 'Docker Swarm' %></div>
                        <div class="flex justify-center text-xs italic">By:&nbsp;<a href="https://github.com/glenndehaan" target="_blank" rel="noopener noreferrer" class="font-medium hover:text-gray-400">Glenn de Haan</a></div>
                    </footer>
                </div>
            </div>
        </main>
        <script>
            window.__ship_kubernetes_deployment = <%- JSON.stringify(deployment) %>;
        </script>
        <script>
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.querySelector('html').setAttribute('style', 'color-scheme: dark;');
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
                const newColorScheme = event.matches ? "dark" : "light";

                if(newColorScheme === 'light') {
                    document.querySelector('html').removeAttribute('style');
                } else {
                    document.querySelector('html').setAttribute('style', 'color-scheme: dark;');
                }
            });
        </script>
        <script>
            const params = new URLSearchParams(window.location.search);

            if(params.has('error') || params.has('message')) {
                window.history.replaceState({}, '', window.location.pathname);
            }
        </script>
    </body>
</html>
